<div class="common-alert dis-none">
    <div class="alert-animate">
        <div class="alert-main">
            <div class="left">
                <img src="/Public/Public/Images/newImage/common/al-laugh.png">
            </div>
            <div class="right">
                <p class="top _msg">

                </p>
                <div class="bottom">
                    <button class="yes button" onclick="">{:lan('SURE', 'Home')}</button>
                    <button class="no button" onclick="common.closeAlert(false)">{:lan('CANCEL', 'Home')}</button>
                </div>
            </div>
        </div>
    </div>
</div>

