<div class="appDownload-main">
    <h2 class="title">
        {:lan("DOWNLOAD", "Home")}
        <i class="iconfont close">&#xe61b;</i>
    </h2>
    <div class="list">
        <img src="/Public/Public/Images/Common/IOSCode.png" class="qr">
        <p class="name">
            <i class="iconfont ios">&#xe61d;</i>
            <span>IOS</span>
        </p>
    </div>
    <div class="list">
        <img src="/Public/Public/Images/Common/androidCode.png" class="qr">
        <p class="name">
            <i class="iconfont android">&#xe61c;</i>
            <span>Android</span>
        </p>
    </div>
</div>