<div class="go-charge-alert dis-none">
    <div class="alert-animate">
        <div class="alert-main">
            <div class="left">
                <img src="/Public/Public/Images/newImage/common/al-laugh.png">
            </div>
            <div class="right">
                <p class="top _msg">

                </p>
                <div class="bottom">
                    <button class="no button" onclick="common.closegoChargeAlert(false)">{:lan('SURE', 'Home')}</button>
                    <a class="go-recharge button" href="{:U('Home/Rechargecenter/index')}">{:lan('RECHARGE', 'Home')}</a>
                </div>
            </div>
        </div>
    </div>
</div>

