<div class="mall-alert dis-none">
    <div class="alert-animate">
        <div class="alert-main">
            <div class="top clear">
                <div class="left">
                    <img src="/Public/Public/Images/newImage/common/al-laugh.png" class="left-img">
                    <p class="txt"></p>
                </div>
                <div class="right">
                    <h2 class="name"></h2>
                    <p>
                        <span>
                            {:lan('VALID_TIME', 'Home')}：
                        </span>
                        <span class="time">

                        </span>
                    </p>
                    <p>
                        <span>
                            {:lan('SPEND', 'Home')}：
                        </span>
                        <span class="price">

                        </span>
                    </p>
                </div>
            </div>
            <div class="down">
                <button class="no button" onclick="common.closeMallAlert(false)">{:lan("CANCEL","Home")}</button>
                <button class="yes button">{:lan("BUY","Home")}</button>
            </div>
        </div>
    </div>
</div>

