<!-- 商城导航-->
<div class="mall-nav clear">
    <a class="analysis <eq name='menu' value='1'>active</eq>" data-module-name="商城_会员" href="{:U('/Mall')}">
        <i class="iconfont triangular">&#xe60c;</i>
        <i class="mall-icon iconfont">&#xe647;</i>
        <p class="column">{:lan('VIP', 'Home')}</p>
    </a>
    <a class="analysis <eq name='menu' value='2'>active</eq>" data-module-name="商城_靓号" href="{:U('/Mall/nicenumber')}">
        <i class="iconfont triangular">&#xe60c;</i>
        <i class="mall-icon iconfont">&#xe648;</i>
        <p class="column">{:lan('NICE_NUMBER', 'Home')}</p>
    </a>
    <a class="analysis <eq name='menu' value='3'>active</eq>" data-module-name="商城_守护" href="{:U('/Mall/guardInfor')}">
        <i class="iconfont triangular">&#xe60c;</i>
        <i class="mall-icon iconfont">&#xe649;</i>
        <p class="column">{:lan('GUARD', 'Home')}</p>
    </a>
    <a class="analysis <eq name='menu' value='4'>active</eq>" data-module-name="商城_座驾" href="{:U('/Mall/equipmentlist')}">
        <i class="iconfont triangular">&#xe60c;</i>
        <i class="mall-icon iconfont">&#xe64a;</i>
        <p class="column">{:lan('CAR', 'Home')}</p>
    </a>
</div>