<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>创建家族</title>
<meta name="keywords" content="">
<meta name="description" content="">
<link href="../../../../Public/Home/Css/header.css" rel="stylesheet" type="text/css" />
<link href="../../../../Public/Home/Css/footer.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="../../../../Public/Home/Css/zh/common.css">
<link href="../../../../Public/Home/Css/zh/CreateFamily.css" rel="stylesheet" type="text/css"/>
<script src="../../../../Public/Tools/Js/jquery/jquery-1.8.3.min.js"></script>
<script  src="../../../../Public/Home/Js/imghover.js"></script>
<script src="../../../../Public/Home/Js/Login.js"></script>
<script src="../../../../Public/Home/Js/Right.js"></script>
<title>创建家族</title>
</head>

<body>
<!--<div id="navtopbox">
  <div class="head">
    <div class="logo" > <img  src="../../../../Public/Public/Images/Logo/pcweblog.png" width="159" height="54" style="float:left"/>
      <div class="nav" style="float:left">
        <ul class="navbar">
          <li class="act"><a href="#">首页</a></li>
          <li><a  href="#">秀场</a></li>
          <li><a href="#">排行榜</a></li>
          <li><a href="#">商城</a></li>
          <li><a href="#">家族</a></li>
        </ul>
      </div>
    </div>
    <div class=" navbaright" style="float:right; ">
      <ul>
        <li>
          <div class="search">
            <input type="text" class="searchinput txt"  value="搜索主播或者房间号"/>
            <span class="sr"> <img src="../../../../Public/Public/Images/Navi/fdg.png"/></span></div>
        </li>
        <li class="deng" > <a href="#" class="lo"><img src="../../../../Public/Public/Images/Navi/show.png"/></a>
          <p class="pn" style="display:none">Join</p>
        </li>
        <li class="deng" > <a href="javascript:showDiv()"><img src="../../../../Public/Public/Images/Navi/login.png" class="lover"/></a>
          <p class="pn" style="display:none">Login</p>
        </li>
      </ul>
    </div>
  </div>
</div>-->
<!--head end-->
<div class="g-cf">
  <div class="w">
    <div class="fl">
      <p><i>Step1</i>创建家族第一步</p>
      <div  class="success">
        <h3>创建条件</h3>
      </div>
      <p><i>Step2</i>创建家族第二步</p>
      <div class="success">
        <h3>填写资料</h3>
      </div>
      <p><i>Step3</i>创建家族第三步</p>
      <div class="success">
        <h3>等待审核</h3>
      </div>
      <p><i>Step4</i>创建家族第四步</p>
      <div class="success">
        <h3 >完成申请</h3>
      </div>
    </div>
    <div class="fr">
      <p class="m-hd">完成申请</p>
      <p class="m-hc2"> 恭喜您， 成功创建了家族，您现在可以 <a href="#">管理家族</a></p>
      <p class="m-hc3"><img src="../../../../Public/Public/Images/CreateFamily/four.png"/></p>
    </div>
  </div>
</div>
<!--<div class="g-ft"></div>-->
</body>
</html>
