<tagLib name="html" />
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title></title>
<link href="__PUBLIC__/Public/statics/css/reset.css" rel="stylesheet"
	type="text/css" />
<link href="__PUBLIC__/Public/statics/css/system.css" rel="stylesheet"
	type="text/css" />
<link href="__PUBLIC__/Public/statics/css/table_form.css" rel="stylesheet"
	type="text/css" />
<script language="javascript" type="text/javascript" src="__PUBLIC__/Tools/Js/jquery/jquery-1.8.3.min.js"></script>
<script language="javascript" type="text/javascript"
	src="__PUBLIC__/Public/statics/js/admin_common.js"></script>
<script language="javascript" type="text/javascript"
	src="__PUBLIC__/Public/statics/js/styleswitch.js"></script>
<script language="javascript" type="text/javascript"
	src="__PUBLIC__/Public/statics/js/formvalidator.js" charset="UTF-8"></script>
<script language="javascript" type="text/javascript"
	src="__PUBLIC__/Public/statics/js/formvalidatorregex.js"
	charset="UTF-8"></script>

<script type="text/javascript">
	window.focus();
	
</script>
</head>
<body>
	<div class="subnav">
		<div class="content-menu ib-a blue line-x"></div>
	</div>
	<style type="text/css">
        html {
        	_overflow-y: scroll
        }
	</style>
	
	<script type="text/javascript">
  $(document).ready(function() {
	$.formValidator.initConfig({autotip:true,formid:"myform",onerror:function(msg){}});
	$("#old_password").formValidator({empty:false,onshow:"<?php echo $donotchangepwd; ?>",onfocus:"<?php echo $pwdissixtotwenty; ?>",oncorrect:"<?php echo $oldpwdisright; ?>"}).inputValidator({min:5,max:20,onerror:"<?php echo $pwdissixtotwenty; ?>"}).ajaxValidator({
	    type : "GET",
		url : "",
		data :"action=edit_pwd_ajax",
		datatype : "html",
		async:'false',
		success : function(data){
            if( data == "1" )
			{
                return true;
			}
            else
			{
            	return false;
			}
		},
		buttons: $("#dosubmit"),
		onerror : "{$oldpwdiswrong}",
		onwait : "{$pleaswait}"
	});
	$("#new_password").formValidator({empty:false,onshow:"{$donotchangepwd}",onfocus:"{$pwdissixtotwenty}",oncorrect:"{$twicepwdissame}"}).inputValidator({min:6,max:20,onerror:"{$pwdissixtotwenty}"});
	$("#new_pwdconfirm").formValidator({empty:false,onshow:"{$donotchangepwd}",onfocus:"{$twicepwdnotsame}",oncorrect:"{$twicepwdissame}"}).compareValidator({desid:"new_password",operateor:"=",onerror:"{$twicepwdnotsame}"});
  })
  
</script>
	<div class="pad_10">
		<div class="common-form">
			<form name="myform" action="{:U('do_edit_pwd')}" method="post"
				id="myform">
				<input type="hidden" name="familyuserid"
					value="{$_SESSION['familyuserid']}"></input>
				<table width="100%" class="table_form contentWrap">
					<tr>
						<td width="80">{$familyusername}</td>
						<td>{$_SESSION['familyusername']}</td>
					</tr>
					<tr>
						<td>{$oldpassword}</td>
						<td><input type="password" name="old_password"
							id="old_password" class="input-text"></input></td>
					</tr>
					<tr>
						<td>{$newpassword}</td>
						<td><input type="password" name="new_password"
							id="new_password" class="input-text"></input></td>
					</tr>
					<tr>
						<td>{$confirmpassword}</td>
						<td><input type="password" name="new_pwdconfirm"
							id="new_pwdconfirm" class="input-text"></input></td>
					</tr>
				</table>
				<div class="bk15"></div>
				<input name="dosubmit" type="submit"
					value="{$submitbuttion}" class="button" id="dosubmit">
			</form>
		</div>
	</div>
</body>
</html>
