<tagLib name="html" />
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta http-equiv="X-UA-Compatible" content="IE=7" /> 
<title></title> 
<link href="__PUBLIC__/Public/statics/css/reset.css" rel="stylesheet" type="text/css" /> 
<link href="__PUBLIC__/Public/statics/css/system.css" rel="stylesheet" type="text/css" /> 
<link href="__PUBLIC__/Public/statics/css/table_form.css" rel="stylesheet" type="text/css" /> 
<link href="__PUBLIC__/Public/statics/css/dialog.css" rel="stylesheet" type="text/css" /> 
<script language="javascript" type="text/javascript" src="__PUBLIC__/Public/statics/js/dialog.js"></script> 
<link href="__PUBLIC__/Family/Css/common.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="__PUBLIC__/Tools/Js/jquery/jquery-1.8.3.min.js"></script>
<script language="javascript" type="text/javascript" src="__PUBLIC__/Public/statics/js/admin_common.js"></script> 
<script language="javascript" type="text/javascript" src="__PUBLIC__/Public/statics/js/styleswitch.js"></script> 
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Tools/Js/jquery/jquery.datetimepicker.css"/>
<script language="javascript" type="text/javascript" src="__PUBLIC__/Tools/Js/jquery/jquery.datetimepicker.js"></script>
</head> 
<body> 
<style type="text/css"> 
	html{_overflow-y:scroll}
</style><div id="closeParentTime" style="display:none"></div> 
<div class="pad-10"> 
<div class="content-menu ib-a blue line-x"> 
<a href="javascript:;" onclick="javascript:$('#searchid').css('display','');"><em>{:lan("SEARCH", "Family")}</em></a> 
</div> 
<div id="searchid" style="display:none"> 
<form name="searchform" action="" method="post" > 
<table width="100%" cellspacing="0" class="search-form"> 
    <tbody> 
		<tr> 
		<td> 
		<div class="explain-col"> 
 
				{:lan("REGISTER_TIME", "Family")}
			    <input type="text" name="start_time" id="start_time"
										value="{$_POST['start_time']}" size="10" class="datetext" readonly>&nbsp;
									
									<script type="text/javascript">
									    $('#start_time').datetimepicker({
									        timepicker:false,
									    	format:'Y-m-d',
									    	formatDate:'Y-m-d'
									    }); //'Y-m-d H:i:s'
									</script>
									- &nbsp; <input type="text" name="end_time" id="end_time"
										value="{$_POST['end_time']}" size="10" class="datetext" readonly>&nbsp;
									
									<script type="text/javascript">
										$('#end_time').datetimepicker({
											timepicker:false,
									    	format:'Y-m-d',
									    	formatDate:'Y-m-d'
									    });
									</script>			
				 
				
				                    <input name="keyword" type="text" class="input-text" 
									onfocus="if(this.value='{:lan("INPUT_USERID_USERNMAE", "Family")}') this.value=''" 
									value="<if condition = "$_POST['keyword'] eq ''">{:lan("INPUT_USERID_USERNMAE", "Family")}
									<else />{$_POST['keyword']}
									</if>" /> 
									<input type="submit" name="search" class="search" value="{:lan("SEARCH", "Family")}" />
	</div> 
		</td> 
		</tr> 
    </tbody> 
</table> 
</form> 
</div> 
<form name="myform" id="myform" action="{:U('opt_user')}" method="post" > 
<div class="table-list"> 
    <table width="100%"> 
        <thead> 
            <tr> 
			<th width="40">{:lan("USERID", "Family")}</th>
            <th width="100">{:lan("HEADPHOTO", "Family")}</th> 
			<th width="100">{:lan("USERNAME", "Family")}</th> 
			<th width="100">{:lan("NICKNAME", "Family")}</th> 
			<th width="100">{:lan("ADDRESS", "Family")}</th> 
            <th width="40">{:lan("AGE", "Family")}</th> 
			<th width="40">{:lan("SEX", "Family")}</th> 
			<th width="100">{:lan("MONEY_UNIT", "Family")}</th> 
			<th width="118">{:lan("REGISTER_TIME", "Family")}</th>
			<th>{:lan("OPERATION", "Family")}</th> 
            </tr> 
        </thead> 
<tbody> 
	<volist name="members" id="user">
	<tr> 
		<td align='center' >{$user['userid']}</td> 
        <td align="center" width="100"><img src="{$Think.config.IMAGE_BASE_URL}{$user['bigheadpic']}" onerror="this.src='/Public/Public/Images/HeadImg/default.png'" style='max-height:100px; _height:expression(this.height>100?"100px":"atuo"); max-width:100px; _width:expression(this.width>100?"100px":"atuo"); '></td>
		<td align='center'><span style="" >{$user['username']}</span></td> 
		<td align='center'>
			{$user['nickname']}
		</td>
		<td align='center'>
			<if condition = "$user['province'] neq $pleasechoose">{$user['province']}</if>-<if condition = "$user['city'] neq $pleasechoose">{$user['city']}</if>
		</td>
		<td align='center'>
		<?php
		$birthdayArr = explode(lan("YEAR", "Family"), $user['birthday']);
		if($birthdayArr[0] != ''){
			echo date('Y',time()) - $birthdayArr[0];
		}
		?>
		{:lan("YEARS_OLD", "Family")}
 		</td> 
		<td align='center'>
			<switch name="user['sex']">
				<case value="0">{:lan("MALE", "Family")}</case>
				<case value="1">{:lan("FEMALE", "Family")}</case>
			</switch>
		</td> 
		<td align='center'>{$user['earnmoney']}</td>
		<td align='center'>{$user['registertime']}</td>
		<td align='center'>
			<a href="/{$user['roomno']}" target="_blank">{:lan("ENTER_LIVEROOM", "Family")}</a>
			</td> 
	</tr> 
	</volist>
             
     </tbody> 
     </table> 
    
    <div id="pages">{$page}</div> 
</div> 
<input type="hidden" id="return" name="return" value="{$_SERVER["REQUEST_URI"]|base64_encode}" >
</form>
</div> 
<script type="text/javascript"> 

	function confirm_delete(){
		if(confirm('{:lan("CONFIRM_DELETE", "Family")}')) $('#myform').submit();
	}
	function edit(id, name) {
		window.top.art.dialog({title:'{:lan("MODIFY", "Family")}'+name, id:'edit', iframe:{:U('edit_user/userid/'+id)} ,width:'500px',height:'400px'}, 	function(){var d = window.top.art.dialog({id:'edit'}).data.iframe;
		var form = d.document.getElementById('dosubmit');form.click();return false;}, function(){window.top.art.dialog({id:'edit'}).close()});
	}

</script> 
</body> 
</html>