<tagLib name="html" />
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta http-equiv="X-UA-Compatible" content="IE=7" /> 
<title></title> 
<link href="__PUBLIC__/Public/statics/css/reset.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Family/Css/common.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Public/statics/css/system.css" rel="stylesheet" type="text/css" /> 
<link href="__PUBLIC__/Public/statics/css/table_form.css" rel="stylesheet" type="text/css" /> 
<script language="javascript" type="text/javascript" src="__PUBLIC__/Public/statics/js/dialog.js"></script> 
<script language="javascript" type="text/javascript" src="__PUBLIC__/Tools/Js/jquery/jquery-1.8.3.min.js"></script>
<script language="javascript" type="text/javascript" src="__PUBLIC__/Public/statics/js/admin_common.js"></script> 
<script language="javascript" type="text/javascript" src="__PUBLIC__/Public/statics/js/styleswitch.js"></script> 
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Tools/Js/jquery/jquery.datetimepicker.css"/>
<script language="javascript" type="text/javascript" src="__PUBLIC__/Tools/Js/jquery/jquery.datetimepicker.js"></script>
</head> 
<body> 
<style type="text/css"> 
	html{_overflow-y:scroll}
</style>
<div id="closeParentTime" style="display:none"></div> 
<div class="pad-10"> 
<div class="content-menu ib-a blue line-x"> 
<a href="javascript:;" onclick="javascript:$('#searchid').css('display','');"><em>{:lan("SEARCH", "Family")}</em></a> 
</div> 
<div id="searchid" style="display:none">
			<form name="searchform" action="" method="post">
				<table width="100%" cellspacing="0" class="search-form">
					<tbody>
						<tr>
							<td>
								<div class="explain-col">
									{:lan("REGISTER_TIME", "Family")} 
									<input type="text" name="start_time" id="start_time"
										value="{$_POST['start_time']}" size="10" class="datetext" readonly>&nbsp;
									
									<script type="text/javascript">
									    $('#start_time').datetimepicker({
									        timepicker:false,
									    	format:'Y-m-d',
									    	formatDate:'Y-m-d'
									    }); //'Y-m-d H:i:s'
									</script>
									- &nbsp; <input type="text" name="end_time" id="end_time"
										value="{$_POST['end_time']}" size="10" class="datetext" readonly>&nbsp;
									
									<script type="text/javascript">
										$('#end_time').datetimepicker({
											timepicker:false,
									    	format:'Y-m-d',
									    	formatDate:'Y-m-d'
									    });
									</script>

									<input type="submit" name="search" class="search" value="{:lan("SEARCH", "Family")}" />
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</form>
			<script>
$('#searchid').css('display','');
</script>
</div> 

<div class="table-list"> 
    <table width="100%"> 
        <thead> 
          <tr> 
            <th width="100">{:lan("EMCEE_NICKNAME", "Family")}</th> 
			<th width="150">{:lan("RECHARGE_BALANCE", "Family")}</th> 
            <th width="150">{:lan("EARN_SHOWMONEY", "Family")}</th> 
			<th width="150">{:lan("USER_POINT", "Family")}</th>
			<th width="150">{:lan("OPERATION", "Family")}</th>  
          </tr> 
        </thead> 
<tbody> 
	<volist name="balances" id="user">
	<tr> 
		<td align='center'>{$user['nickname']}</td>
		<td align='center'>{$user['balance']}</td> 
		<td align='center'>{$user['earnmoney']}</td> 
		<td align='center'>{$user['spendmoney']}</td>
		<td align='center'><a href="{:U('userDetail',array('userid'=>$user['userid']))}">{:lan("QUERY_DETAIL", "Family")}</a></td>  
	</tr> 
	</volist>
     </tbody> 
     </table> 
	
    <div id="pages">{$page}</div> 
</div> 

</div> 

</body> 
</html>