<tagLib name="html" />
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>{:lan('ADMIN_MAN_TITLE', 'Admin')}</title>
<link href="__PUBLIC__/Public/statics/css/reset.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Public/statics/css/system.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Public/statics/css/table_form.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Public/statics/css/dialog.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="__PUBLIC__/Public/statics/js/dialog.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Public/statics/css/style/styles1.css" title="styles1" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="__PUBLIC__/Public/statics/css/style/styles2.css" title="styles2" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="__PUBLIC__/Public/statics/css/style/styles3.css" title="styles3" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="__PUBLIC__/Public/statics/css/style/styles4.css" title="styles4" media="screen" />
<script language="javascript" type="text/javascript" src="__PUBLIC__/Public/statics/js/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="__PUBLIC__/Public/statics/js/admin_common.js"></script>
<script language="javascript" type="text/javascript" src="__PUBLIC__/Public/statics/js/styleswitch.js"></script>
<script language="javascript" type="text/javascript" src="__PUBLIC__/Public/statics/js/formvalidator.js" charset="UTF-8"></script>
<script language="javascript" type="text/javascript" src="__PUBLIC__/Public/statics/js/formvalidatorregex.js" charset="UTF-8"></script>

<script charset="utf-8" src="__PUBLIC__/Tools/Js/Kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="__PUBLIC__/Tools/Js/Kindeditor/lang/en.js"></script><script>	var editor;
	KindEditor.ready(function(K) {
		editor = K.create('textarea[name="content"]', {
			resizeType : 1,
			allowPreviewEmoticons : false,
			allowImageUpload : true,
			items : [
				'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
				'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
				'insertunorderedlist', '|', 'emoticons', 'image', 'link', 'source']
		});
	});
</script>
<script type="text/javascript">
	window.focus();
</script>
</head>
<body>
<style type="text/css">
	html{_overflow-y:scroll}
</style><div id="closeParentTime" style="display:none"></div>
<SCRIPT LANGUAGE="JavaScript">
<!--
function ResumeError() { 
	return true; 
} 
window.onerror = ResumeError;
if(window.top.$("#current_pos").data('clicknum')==1) {
	window.top.$("#current_pos").data('clicknum',0);
}

function checkForm(obj, type) {
    if(upForm.title.value == '') {
		alert("{:lan('PLZ_INPUT_TITLE', 'Admin')}")
		upForm.title.focus()
		return false;
	}
}
//-->
</SCRIPT>
<div class="pad-lr-10">
	<div class="pad-10">
		<div class="content-menu ib-a line-x"><a href="javascript:;" class=on><em>{:lan('EDIT_ANNOUNCE', 'Admin')}</em></a></div>
	</div>

	<form name="upForm" id="upForm" action="__URL__/do_edit_announce/" enctype='multipart/form-data' method="post" onsubmit="return checkForm(this)">
	<input type="hidden" name="announceid" value="{$_GET['announceid']}"/>
	<div class="pad_10">
		<div style='overflow-y:auto;overflow-x:hidden' class='scrolltable'>
			<table width="100%" cellspacing="0" class="table_form contentWrap">

				<tr>
					<th width="80"> {:lan('TITLE', 'Admin')}	  </th>
					<td><input type="text" name="title" id="title" value="{$anninfo['title']}" size="50"></td>
				</tr>
				<tr>
					<th width="80"> {:lan('STATUS', 'Admin')} </th>
					<td>
						<if condition="$anninfo['status']=='0'">
						<input type="radio" name="status"  value="0" size="50" checked="checked">{:lan('NOT_START', 'Admin')}
					<input type="radio" name="status"  value="1" size="50">{:lan('UNDERWAY', 'Admin')}
					<input type="radio" name="status"  value="2" size="50">{:lan('FINISH', 'Admin')}
					<elseif condition="$anninfo['status']=='1'"/>
					<input type="radio" name="status"  value="0" size="50" >{:lan('NOT_START', 'Admin')}
					<input type="radio" name="status"  value="1" size="50" checked="checked">{:lan('UNDERWAY', 'Admin')}
					<input type="radio" name="status"  value="2" size="50">{:lan('FINISH', 'Admin')}
                   <elseif condition="$anninfo['status']=='2'"/>
							<input type="radio" name="status"  value="0" size="50" >{:lan('NOT_START', 'Admin')}
					<input type="radio" name="status"  value="1" size="50" >{:lan('UNDERWAY', 'Admin')}
					<input type="radio" name="status"  value="2" size="50" checked="checked">{:lan('FINISH', 'Admin')}</if>
					</td>
				</tr>
				<tr>
					<th width="80"> {:lan('CONTENT', 'Admin')}	  </th>
					<td><textarea name="content" style="width:800px;height:300px;visibility:hidden;">{$anninfo['content']}</textarea></td>
				</tr>
			</table>
		</div>
		<div class="bk10"></div>
		<div class="btn">
			<input type="submit" class="button" name="dosubmit" value="{:lan('SAVE', 'Admin')}" style="width:100px;height:40px;" />
		</div> 
	</div>
	</form>
</div>
</body>
</html>