<tagLib name="html" />
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>{:lan('ADMIN_MAN_TITLE', 'Admin')}</title>
<link href="__PUBLIC__/Public/statics/css/reset.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Public/statics/css/system.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Public/statics/css/table_form.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Public/statics/css/style/styles1.css" title="styles1" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="__PUBLIC__/Public/statics/css/style/styles2.css" title="styles2" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="__PUBLIC__/Public/statics/css/style/styles3.css" title="styles3" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="__PUBLIC__/Public/statics/css/style/styles4.css" title="styles4" media="screen" />
<script language="javascript" type="text/javascript" src="__PUBLIC__/Public/statics/js/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="__PUBLIC__/Public/statics/js/admin_common.js"></script>
<script language="javascript" type="text/javascript" src="__PUBLIC__/Public/statics/js/styleswitch.js"></script>
<script language="javascript" type="text/javascript" src="__PUBLIC__/Public/statics/js/formvalidator.js" charset="UTF-8"></script>
<script language="javascript" type="text/javascript" src="__PUBLIC__/Public/statics/js/formvalidatorregex.js" charset="UTF-8"></script>
<script type="text/javascript">
	window.focus();
</script>
</head>
<body>
<style type="text/css">
	html{_overflow-y:scroll}
</style><script type="text/javascript">
  $(document).ready(function() {
	$.formValidator.initConfig({autotip:true,formid:"myform",onerror:function(msg){}});
	$("#servername").formValidator({onshow:"{:lan('PLZ_INPUT_SERVER_NAME', 'Admin')}",onfocus:"{:lan('PLZ_INPUT_SERVER_NAME', 'Admin')}",oncorrect:"{:lan('INPUT_SUCCESS', 'Admin')}"}).inputValidator({min:1,onerror:"{:lan('PLZ_INPUT_SERVER_NAME', 'Admin')}"});
	$("#serverip").formValidator({onshow:"{:lan('PLZ_INPUT_ACCESS_DOMAIN_OR_IP', 'Admin')}",onfocus:"{:lan('PLZ_INPUT_ACCESS_DOMAIN_OR_IP', 'Admin')}",oncorrect:"{:lan('INPUT_SUCCESS', 'Admin')}"}).inputValidator({min:1,onerror:"{:lan('PLZ_INPUT_ACCESS_DOMAIN_OR_IP', 'Admin')}"});
	$("#fmsport").formValidator({onshow:"{:lan('PLZ_INPUT_PORT', 'Admin')}",onfocus:"{:lan('PLZ_INPUT_PORT', 'Admin')}",oncorrect:"{:lan('INPUT_SUCCESS', 'Admin')}"}).inputValidator({min:1,onerror:"{:lan('PLZ_INPUT_PORT', 'Admin')}"});
	
  })
</script>
<div class="pad_10">
<div class="common-form">
<form name="myform" action="__URL__/do_edit_server/" method="post" id="myform">
<input type="hidden" name="serverid" value="{$_GET['serverid']}"/>
<table width="100%" class="table_form contentWrap">
<tr>
<td width="150">{:lan('SERVER_NAME', 'Admin')}</td>
<td><input type="text" name="servername"  class="input-text" id="servername" value="{$serverinfo['servername']}"></input></td>
</tr>
<tr>
<td width="150">{:lan('ACCESS_DOMAIN_OR_IP', 'Admin')}</td>
<td><input type="text" name="serverip"  class="input-text" id="serverip" value="{$serverinfo['serverip']}"/></td>
</tr>
<tr>
<td>{:lan('PORT', 'Admin')}</td><td><input type="text" name="fmsport"  class="input-text" id="fmsport" value="{$serverinfo['fmsport']}"/></td>
</tr>

<input type="hidden" value="{$serverinfo['serverip']}" name="old_serverip"  />
<tr>
<td width="150">{:lan('WEATHER_DEFAULT', 'Admin')}</td>
<td><input name="isdefault" value="1" type="radio" <if condition = "$serverinfo['isdefault'] eq '1'">checked</if>> {:lan('YES', 'Admin')} <input name="isdefault" value="0" type="radio" <if condition = "$serverinfo['isdefault'] eq '0'">checked</if>> {:lan('NO', 'Admin')}</td>
</tr>
<tr>
<td width="150">{:lan('WEATHER_REFRESH_ALL_MEMBER', 'Admin')}</td>
<td><input name="updteAll" value="y" type="radio" checked=""> {:lan('YES', 'Admin')} <input name="updteAll" value="n" type="radio"> {:lan('NO', 'Admin')}</td>
</tr>
</table>

    <div class="bk15"></div>
    <input name="dosubmit" type="submit" value="{:lan('YES', 'Admin')}" class="dialog" id="dosubmit">
</form>
</div>
</div>
</body>
</html>
