<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <style>
        html,body{
            height: 100%;
            font-size: 14px;
            line-height: 1.5;
        }
        ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,label,
        form,fieldset,legend,input,textarea,select,button{
            margin:0;
            padding:0;
            border:0;
            background-color: transparent;
            font-family:"PingFang SC","Helvetica Neue", Helvetica, "Microsoft Yahei", "WenQuanYi Micro Hei", Arial,Verdana,sans-serif ;
        }
        h1,h2,h3,h4,h5,h6,i,b,strong,p,div{
            word-wrap: break-word;
        }
        h1{
            font-size: 36px;
        }
        h2{
            font-size: 30px;
        }
        h3{
            font-size: 24px;
        }
        h4{
            font-size: 18px;
        }
        h5{
            font-size: 14px;
        }
        h6{
            font-size: 14px;
        }
    </style>
</head>
<body>
<h3>BẢN THỎA THUẬN LÀM VIỆC</h3>
<h3>Waashow.vn</h3>

<p>Hôm nay, ngày ……….. tháng…….. năm 2016</p>
<p>Chúng tôi gồm:</p>
<p>Bên A: là công ty mạng xã hội công nghệ cao, có nguồn tài nguyên phong phú</p>
<p>Người đại diện bên A: Zhu Feng</p>
<p>Điện thoại: 0123 4923 500</p>
<p></p>
<p>Bên B là bên có kỹ năng ca hát và diễn xuất</p>
<p>Họ và tên cộng tác viên:</p>
<p>Địa chỉ:</p>
<p>Số CMND: 		 Nơi cấp: 			 Ngày cấp:</p>
<p>Điện thoại:</p>
<p></p>
<p>Cùng nhau thỏa thuận và đồng ý ký kết thực hiện đúng những điều khoản sau:</p>
<p></p>
<p>Điều 1: Thời hạn và công việc thực hiện</p>
<p></p>
<p>Thời hạn làm việc:</p>
<p></p>
<p>Từ ngày ______tháng ______năm  ______đến ngày_______tháng_______năm ______,</p>
<p></p>
<p>Nội dung công việc:</p>
<p></p>
<p>-Video trực tuyến: bên B biểu diễn tiết mục trên kênh trực tuyến Waashow, phối âm, trò chuyện và quản lý nội dung tin nhắn, tư liệu, văn bản, vv....</p>
<p>-Voice trực tuyến: bên B chủ động trong thời gian trực tuyến, diễn giải nội dung cách thức trò chuyện, quản lý nội dung tin nhán, tư liệu, văn bản, vv....</p>
<p>Sau khi hết thời hạn làm việc, hai bên không có yêu cầu chấm dứt bằng văn bản, thì bản thỏa thuận này được gia hạn thêm 1 năm.</p>
<p></p>
<p>Điều 2: Nghĩa vụ</p>
<p></p>
<p>1Nghĩa vụ:</p>
<p>-Cam kết hoàn thành công việc được giao, thực hiện đầy đủ các nội quy cam kết trong bản thỏa thuận này.</p>
<p>-Cung cấp thông tin cá nhân đầy đủ và chính xác, nếu cung cấp thông tin giả tạo, thông tin không phù hợp với điều kiện của idol, bên A có quyền kết thúc thỏa thuận.</p>
<p>-Cung cấp thông tin liên lạc bao gồm số điện thoại bàn, di động vv….</p>
<p>-Thông tin cá nhân thay đổi cần thông báo ngay cho bên A. Trong thời hạn 01 ( một) tuần mà không khai báo thông tin hoặc Bên A không liên lạc được mà xảy ra thiệt hại thì bên B chịu hoàn toàn trách nhiệm. Và bên A có quyền đơn phương chấm dứt thỏa thuận idol</p>
<p>-Bên B cam kết không có những hành vi gây bất lợi và ảnh hưởng danh dự của bên A, nếu không bên A có quyền chấm thỏa thuận.</p>
<p></p>
<p>Điều 3: Những thỏa thuận khác:</p>
<p></p>
<p>1.Sở hữu bản quyền</p>
<p>Khi bên B tiến hành video và voice trực tuyến tư liệu văn bản thuộc quyền sở hữu bên A, nhưng bên B vẫn được thừa hưởng tên trên bản quyền, nhưng khi chưa có sự đồng ý của bên A, bên B không được sử dụng video và voice trực tuyến ngoài mục đích khác, một khi bị bên A phát hiện, bên A có quyền chấm dứt thỏa thuận này.</p>
<p></p>
<p>2.Quyền quản lý</p>
<p>Trong thời hạn bản thỏa thuận này có hiệu lực, bên B đồng ý cho bên A là người quản lý, bên B không được ký kết hợp đồng kinh tế và những cá nhân, tổ chức khác có ngành nghề liên quan đến giải trí, và không có người thứ 3 nào khác đảm nhiệm quản lý.</p>
<p></p>
<p>Điều 4: Nội quy công ty:</p>
<p></p>
<p>Đối với cộng tác viên, trong thời gian làm việc cần thực hiện đúng quy tắc đã thỏa thuận.</p>
<p>-Không được hút thuốc, uống rượu trong khi live.</p>
<p>-Không được lạm dụng, chửi thề, sỉ nhục hoặc phỉ báng người khác, xâm hại quyền và lợi ích hợp pháp của người khác.</p>
<p>-   Nghiêm cấm cộng tác viên có những hành vi, cử chỉ, lời nói thiếu văn hóa, phân biệt đối xử, bôi nhọ, đe dọa, nói xấu, xúc phạm đến danh dự, nhân phẩm của người khác gây mất đoàn kết tại nơi làm việc.</p>
<p>-   Không được bình luận có ác ý đối với những idol khác.</p>
<p>-Không được lấy tên người lãnh đạo của quốc gia để làm trò đùa, thảo luận về chính trị, làm tổn hại danh dự và lợi ích của nước nhà.</p>
<p>-Không được tiến hành khiêu dâm, bạo lực, phản động, cổ động, gây rối an ninh trật tự  và các hoạt động khác khi đang làm việc.</p>
<p>-Không được hát nhạc có lời hát khiêu dâm, ca khúc chính trị và thông tin bị cấm khác.</p>
<p>-Không được tổ chức công khai cờ bạc, ma túy, tự xác, khủng bố hoặc tiếp tay cho tội phạm và các hành vi bất hợp pháp hoặc không lành mạnh khác.</p>
<p>-Không được mặc trang phục hở hang như: đồ lót, đồ bơi, đồ trong suốt, quá bó sát lộ liễu,</p>
<p>-Không được có động tác khiêu dâm, tự thủ dâm và để lộ phần nhạy cảm trên cơ thể nhằm mục đích khêu gợi tình dục.</p>
<p>-Trong quá trình thu âm và quay video không được làm nhưng trò nguy hiểm trong phòng ( bao gồm: lắc thiết bị công cụ, sử dụng súng )</p>
<p>-Không được làm những trò có hại cho người khác và bản thân.</p>
<p>-Không được sử dụng ma túy trong phòng.</p>
<p> </p>
<p>Điều kiện và tuân thủ nội dung sao chép:</p>
<p>Chưa thông qua sự chấp nhận của người cung cấp bản quyền không được sử dụng video của người thứ 3, nội dung video.</p>
<p>    </p>
<p>Thông tin cần bảo mật</p>
<p>  không được tiết lộ tiền lương;</p>
<p> khi phát video không được phép phát những video bảo mật bao gồm (không giới hạn) chữ, họa, ghi âm, hình ảnh vv…</p>
<p></p>
<p>Điều 5: Quyền và nghĩa vụ của bên A</p>
<p></p>
<p>1.       Quyền lợi</p>
<p>-Kênh trực tuyến Waashow: bên A có phục vụ, điều hành sản phẩm, bao gồm và không hạn chế phần mềm điện thoại,trang web.</p>
<p>-Video trực tuyến: bên B biểu diễn tiết mục trên kênh trực tuyến Waashow, phối âm, trò chuyện và nội dung tin nhấn, tư liệu văn ban vv....</p>
<p>-Đánh giá định kỳ hoặc không định kỳ đối với bên B,</p>
<p>-Có quyền hủy bỏ tư cách Idol nếu phát hiện bên B vi phạm quy định.</p>
<p>-Có trách nhiêm bảo vệ thiết bị và cung cấp trang thiết bị theo yêu cầu công việc cho bên B</p>
<p>-Bên A có quyền chấm dứt thỏa thuận này trong những trường hợp sau:</p>
<p>Trong thời gian làm việc 2 tháng liên tục nếu bên B không hoàn thành công việc hoặc cố ý vi phạm.</p>
<p>Do hai bên thỏa thuận.</p>
<p>Bên B vi phạm pháp luật và không thể tiếp tục công việc.</p>
<p></p>
<p>2. Nghĩa vụ:</p>
<p>-Cung cấp kênh mạng trực tuyến Waashow, đào tạo và hướng dẫn cho Idol</p>
<p>-Có quyền giám sát và quản lý mọi hoạt động của Idol trong thời gian làm việc.</p>
<p>-Có nghĩa vụ cung cấp cho bên A về chính sách phát triển, bảo vệ danh dự và lợi ích cho bên B</p>
<p>-Có quyền chấm hợp thỏa thuận nếu bên B gây thiệt hại và uy tín bên A.</p>
<p></p>
<p>Điều 6: Giải quyết tranh chấp công việc</p>
<p></p>
<p>Sau khi bản thỏa thuận đã được ký kết và có hiệu lực thi hành, nếu tranh chấp lao động xảy ra, thẩm quyền giải quyết tranh chấp căn cứ trên luật pháp Việt Nam.</p>
<p>Nguyên tắc giải quyết tranh chấp:</p>
<p>Hai bên tôn trọng nhau, tự thương lượng với nhau . Nếu một trong hai bên từ chối thương lượng, hoặc thương lương không thành thì có quyền khởi kiện đến các cơ quan có thẩm quyền giải quyết.</p>
<p></p>
<p>Những điều cần biết khi bắt đầu live</p>
<p></p>
<p>Idol trước khi bắt đầu trực tuyến, cần tiến hành đơn giản chỉnh trang hình dáng, bối cảnh video cam cần điều chỉnh, không được hỗn loạn. Trước khi bắt đầu trực tuyến cần điều chỉnh video cam và vi tính ở trạng thái tốt nhất. Trong quá trình live video cam cần quay phần thân trên, phạm vi tiêu chuẩn video cam cần bao gồm phần đầu hoàn chỉnh. Tuyệt đối không được xuất hiện những điệu nhảy, mê hoặc, gợi tình, bạo lực, phản động, kích lệ gây náo loạn trị an xã hội, biểu diễn tuyên truyền mê tín dị đoan v,v...</p>
<p></p>
<style type="text/css">
    #table{width:80%;text-align:center;border:solid; border-width:0px 0px 0px 0px;}
    #table tr{border:solid; border-width:0px 1px 1px 0px;}
    #table td{border:solid; border-width:1px 0px 0px 1px;}
</style>
<table id="table">
    <tr style="background-color:#ffff00;">
        <td>Thân phận idol</td>
        <td>Thời gian trực tuyến</td>
        <td>Ngày có hiệu lực</td>
        <td>Tiền su thu được</td>
        <td>Lương căn bản (vnđ)</td>
    </tr>
    <tr>
        <td>Idol hợp đồng phổ thông</td>
        <td>90</td>
        <td>26</td>
        <td>10,200,000</td>
        <td>51,000,000</td>
    </tr>
    <tr>
        <td>Idol hợp đồng phổ thông</td>
        <td>90</td>
        <td>26</td>
        <td>5,100,000</td>
        <td>25,500,000</td>
    </tr>
    <tr>
        <td>Idol hợp đồng phổ thông</td>
        <td>90</td>
        <td>26</td>
        <td>2,550,000</td>
        <td>13,940,000</td>
    </tr>
    <tr>
        <td>Idol hợp đồng phổ thông</td>
        <td>90</td>
        <td>26</td>
        <td>2,040,000</td>
        <td>11,220,000</td>
    </tr>
    <tr>
        <td>Idol hợp đồng phổ thông</td>
        <td>90</td>
        <td>26</td>
        <td>1,275,000</td>
        <td>8,840,000</td>
    </tr>
    <tr>
        <td>Idol hợp đồng phổ thông</td>
        <td>90</td>
        <td>26</td>
        <td>867,000</td>
        <td>6,800,000</td>
    </tr>
    <tr>
        <td>Idol hợp đồng phổ thông</td>
        <td>90</td>
        <td>26</td>
        <td>433,500</td>
        <td>5,100,000</td>
    </tr>
    <tr>
        <td>Idol hợp đồng phổ thông</td>
        <td>90</td>
        <td>26</td>
        <td>216,750</td>
        <td>3,740,000</td>
    </tr>
    <tr>
        <td>Idol hợp đồng phổ thông</td>
        <td>90</td>
        <td>26</td>
        <td>127,500</td>
        <td>2,720,000</td>
    </tr>
    <tr>
        <td>Idol hợp đồng phổ thông</td>
        <td>90</td>
        <td>26</td>
        <td>89,250</td>
        <td>2,040,000</td>
    </tr>
    <tr>
        <td>Idol hợp đồng phổ thông</td>
        <td>90</td>
        <td>26</td>
        <td>51,000</td>
        <td>1,530,000</td>
    </tr>
</table>
<p>(chú ý: thời hạn hỗ trợ 1 tháng,idol live 1 tiếng thù lao là 16.000vnd (số giờ live không dưới 10 tiếng và 7 ngày trờ lên)số giờ cao nhất là 208 tiếng là 3.500.000vnđ + 30% quà tặng hoán đổi, sau khi qua thời hạn hỗ trợ,tiến hành dựa theo quy định mới để tính lương và quà hoán đổi 40%, đánh giá thái độ idol khi live, nếu trong thời gian live treo video, live 2 kênh cùng lúc, chỉ phát nhạc mà không hát hò trò chuyện, nếu tình trạng xảy ra lập tức bị hủy bỏ ngày đó không tính lương và thưởng</p>
<p>Yêu cầu căn bản của idols:</p>
<p>1.Ưu tiên xét duyệt độ ăn ảnh và video (độ mượt, độ rõ nét), ngoại hình.</p>
<p>2.Sau khi khách hàng vào room có lời chào đón.</p>
<p>3.Chủ động tương tác với khách hàng, đem lại không khí cho room, đồng thời hướng dẫn khách hàng sử dụng trang wed (nạp tiền, tặng quà v,v...).</p>
<p>4.Thông qua thử việc kỳ đầu tiên, có biểu hiện không tốt (không chủ động chào đón khách hàng, hướng dẫn nhiều lần không cải thiện), cho nghỉ, khai trừ.</p>
<p></p>
<p>Khai trừ idol, nếu có tình trạng sau đây, quản lý có quyền xem tình tiết nặng nhẹ loại trừ tư cách idol.</p>
<p>1.Nhất luật khai trừ những hành vi biểu diễn sex, bạo lực, cổ vũ gây náo trị an xã hội, tuyên truyền mê tính dị đoan.</p>
<p>2.Nhất luật khai trừ và trừ lương trong kỳ đối với nhảy vũ đạo sexy khiêu gợi.</p>
<p>3.Sau khi idol bắt đầu trực tuyến, khi đang live treo máy, treo hình, lần thứ nhất cảnh cáo, lần 2 cất lương căn bản, lần 3 khai trừ.</p>
<p>4.Idol không được tự ý đi qua room khác, không được gây rối, nếu phát sinh mâu thuẫn, lần 1 cảnh cáo, lần 2 khấu trừ lương căn bản trong kỳ, lần 3 khai trừ.</p>
<p></p>
<p></p>
<p>Quy định chấm công của Waashow:</p>
<p>1.Trước khi live cần trang điểm, không được mặt đồ ngủ live, video luôn giữ rõ nét, không được mang hình ảnh video ảo. Người vi phạm khấu trừ 50.000vnd coi như cảnh cáo.</p>
<p>2.Một giờ mỗi ngày coi như cò hiệu lực, thời gian live mỗi tháng cần đạt 26 ngày có hiệu lực, nếu thiếu một ngày có hiệu lực xem như kháng công ngày</p>
<p>đò, ngày đó không lương, nhưng quà tặng hoán đổi vẫn được tính</p>
<p>3.Nghiêm cấm live 2 kênh (cùng lúc live nhiều kênh), lười (chỉ bật nhạc không sử dụng micro không cò sự tập trung vào trong room) và treo ghi hình. Nghiêm cấm tuyên truyền các trang wed và kênh tương tác video khác.</p>
<p>Nếu bị phát hiện, tình tiết nhẹ khấu trừ lương trong ngày, tình tiết nặng trực tiếp kết thúc hợp đồng. Nghiêm cấm tuyên truyền các trang wed và kênh tương tác video khác.</p>
<p>4.Liên tục 3 phút không nói chuyện xem như vi phạm, nhẹ trừ tiền, nặng lấy nick.</p>
<p>5.Khi khách hàng trong room chủ động giao lưu với idol, idol không có phản ứng xem như treo video, trong room ít hơn 200 người, cần nhiệt tình đón tiếp những khách hàng mới vào, không chào đón trừ 50.000vnd lương căn bản, nghiêm trọng trừ ngày lương hôm đó.</p>
<p>6.Mỗi khi rời khổi màn hình không vượt quá 5 phút, vượt hơn 5 phút cần thông báo trước cho quản lý vận hành, tình tiết nhẹ khấu trừ 50.000 nghìn đồng lương căn bản, nghiêm trọng khấu trừ lương hôm đó xem như cảnh cáo.</p>
<p></p>
<p></p>
<p>Giáo trình đào tạo</p>
<p></p>
<p></p>
<p>1.Đào tạo người mới (kiến thức cần biết cho idol và thao tác trong phòng)</p>
<p>2.Đào tạo độ hot trong room (chỉ dẫn idol phương hướng phát triễn, kỹ xảo nâng cao độ hot trong phòng)</p>
<p>3.Chia sẽ sân chơi chuyên dành cho idol ưu tú.</p>
<p></p>
<p>Bản thỏa thuận được lập thành 2 bản, có giá trị pháp lý như nhau, người lao động giữ 1 bản, người sử dụng lao động giữ 1 bản.và có hiệu lực kể từ ngày…………………</p>
<table style="width:80%;">
    <tr>
        <td>Ký tên </td>
        <td>Ký tên</td>
    </tr>
    <tr>
        <td>Ghi rõ họ tên </td>
        <td>Ghi rõ họ tên</td>
    </tr>
</table>
</body>
</html>