<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <style>
        html,body{
            height: 100%;
            font-size: 14px;
            line-height: 1.5;
        }
        ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,label,
        form,fieldset,legend,input,textarea,select,button{
            margin:0;
            padding:0;
            border:0;
            background-color: transparent;
            font-family:"PingFang SC","Helvetica Neue", Helvetica, "Microsoft Yahei", "WenQuanYi Micro Hei", Arial,Verdana,sans-serif ;
        }
        h1,h2,h3,h4,h5,h6,i,b,strong,p,div{
            word-wrap: break-word;
        }
        h1{
            font-size: 36px;
        }
        h2{
            font-size: 30px;
        }
        h3{
            font-size: 24px;
        }
        h4{
            font-size: 18px;
        }
        h5{
            font-size: 14px;
        }
        h6{
            font-size: 14px;
        }
    </style>
</head>
<body>
<h3>主播签约协议</h3>

<p>今天，日 ______ 月______年 2016</p>
<p>鉴于:</p>
<p>甲方是一家高科技互联网公司，拥有丰富的互联网资源</p>
<p>乙方具有歌唱、表演等方面的才艺</p>
<p>乙方姓名:</p>
<p>地址:</p>
<p>身份证号码: 签发地点: 	签发日期:</p>
<p>电话:</p>
<p>双方同意以下协议共同签约:</p>
<p>条件1: 工作实现和时间</p>
<p>工作时间:</p>
<p>从，日 ______月 ______年  ______到，日_______月_______年 ______,</p>
<p>工作内容:</p>
<p>- 直播视频：乙方在Waashow直播平台进行节目直播、配音、解说形成的视频等内容、信息、文件资料及其载体、介质</p>
<p>- 直播音频：乙方在Waashow直播平台进行直播期间互动、解说等方式说话内容形成的音频等内容、信息、文件资料及其载体、介质</p>
<p>本协议到期后，甲方拥有对于乙方的优先续约权，在同等条件下，乙方须和甲方进行续约，时间一年.</p>
<p>条件 2: 义务</p>
<p>1.义务:</p>
<p>-乙方承诺完成委托事项, 实现全部本协议的要求</p>
<p>-主播必须提供真实的个人身份，因乙方个人信息虚假，导致真实信息不符合主播条件的, 甲方有权随时解除协议</p>
<p>-乙方应向甲方提供有效的联系方式，包括电话、手机等</p>
<p>-协议首页的联系方式变更的，应在1个工作日内通知甲方, 因乙方不及时通知造成的损失由乙方自行承担；超过一周甲方无法与乙方取得联系的，有权取消乙方主播资格并要求承担相应责任</p>
<p>-       主播必须具备充裕的直播时间，每月直播不低于208个小时(全职)</p>
<p>-乙方有义务为甲方提供的平台发展出谋划策，维护声誉与利益，乙方承诺不作任何有损甲方利益及乙方承诺不作任何有损甲方利益及名誉的行为，否则甲方有权终止协议，并要求乙方承担一切损失</p>
<p>条件 3: 其他:</p>
<p>1.知识产权</p>
<p>乙方在Waashow直播平台形成的视频和音频文件资料的知识产权均归属于甲方所有，但乙方仍享有署名权；未经甲方同意，乙方不得将该等视频和音频文件资料用于履行本协议目的以外的其他任何目的或用途，否则一经发现，甲方有权立即解除本协议，且甲方因此遭受的损失，乙方应当赔偿，且甲方有权从应付乙方的酬金、奖励中直接扣除。</p>
<p>2. 经纪权</p>
<p>乙方同意，在本协议生效同时，视为将乙方同意聘请甲方作为其经纪人, 乙方承诺：在本协议履行期间内，未经甲方许可乙方不得同任何其他自然人、法人或者其他组织签订其他任何形式的经济合同、电子商务开发或代理合同、演艺合同等任何与乙方工作性质相关或与娱乐行业相关的合同。也不得聘请任何第三方担任代理人或经纪人</p>
<p>条件4: 工作规定:</p>
<p>主播不得做以下内容.</p>
<p>-在进行视频表演时抽烟、酗酒.</p>
<p>-主播用户视频直播时连续爆粗口或持续谩骂、侮辱或者诽谤他人，侵害他人合法权益的.</p>
<p>-   主播用户使用国家领导人名为昵称拿国家领导人恶作剧，讨论与政治有关的言论、损害国家荣誉和利益的.</p>
<p>-    主播用户在房间进行色情、暴力、反动、鼓动、扰乱社会治安等方面的表演.</p>
<p>-主播用户在直播时煽动民族仇恨、民族歧视，破坏民族团结的.</p>
<p>-主播用户在直播时破坏国家宗教政策，宣扬邪教和封建迷信的.</p>
<p>-主播用户演唱带有黄色、擦边、政等违禁信息歌曲.</p>
<p>-组织公开赌博，展示吸毒、自残、恐怖或教唆犯罪等违法或不良行为.</p>
<p>-穿着过于裸露的服装进行表演包括但不限于以下服装：内衣、泳装、透视装、肉色紧身衣、爆乳装.</p>
<p>-通过模仿色情动作或进行自我抚摸、并企图暴露敏感部位等引起性挑逗的行为</p>
<p>-表演脱衣舞等具有挑逗性的表现形式.</p>
<p>-其他违规视频表演包括但不限于以下示例.</p>
<p>(1) 不得在房间做高危动作（包括：晃动管制刀具、枪支、高仿真枪支）；</p>
<p>(2) 不得做危害他人身体或者自身身体的行为；</p>
<p>(3) 不得在房间内传播毒品及传销等</p>
<p> </p>
<p>转载内容需遵守以下条件:</p>
<p>未经授权不得随意盗播第三方有版权直播、点播视频内容</p>
<p>    </p>
<p>隐私内容规范</p>
<p>主播不可以直播中透露自己个人薪水;</p>
<p>主播直播时不得直播未经他人允许的隐私包括（不限于）文字、图画、录音、影像资料等内容</p>
<p>条件5: 甲方权利和义务</p>
<p>1.权利</p>
<p>-Waashow（直播平台）：甲方拥有和运营的服务产品，包括但不限于手机端软件、网站</p>
<p>-直播视频：乙方在Waashow直播平台进行节目直播、配音、解说形成的视频等内容、信息、文件资料及其载体、介质</p>
<p>①　甲方有权对乙方实行定期或不定期地复审，复审发现乙方不符合主播条件或有其他违规行为的, 甲方有权取消乙方主播资格，乙方因此给甲方造成损失的，乙方承担一切责任</p>
<p>②　甲方负责设备维护、提供主播工作环境，甲方有权利取消乙方主播资格如以下事宜违反：</p>
<p>在试用期2个月没办法完成工作或者违反.</p>
<p>看双方协调.</p>
<p>乙方违反法规不能继续工作.</p>
<p>2.义务:</p>
<p>-      甲方承诺为乙方提供Waashow直播平台，为乙方提供直播相关培训、指引等帮助</p>
<p>-      甲方有权对乙方行为实施监督、管理</p>
<p>-      乙方有义务为甲方提供的平台发展出谋划策，维护声誉与利益</p>
<p>-乙方违反前述规定，甲方有权按照规定处理并取消乙方主播资格.</p>
<p>条件 6: 法律适用与争议之解决</p>
<p>本协议之签署、效力、解释和执行以及本协议项下争议之解决均应适用越南法律.</p>
<p>解决争议原则:</p>
<p>对于因本协议的解释及执行而产生之争议，应由甲、乙双方通过友好协商方式解决，协商不成的，则任一方有权向甲方所在地人民法院提起诉讼.</p>
<p>开播须知</p>
<p>主播开播前，必须进行简单的形象整理，视频背景需进行整理，不能杂乱。开播前要把摄像头，电脑等调节到最好状态。直播期间摄像头要对着上半身，视频区域以包涵完整的头部为标准。房间绝对不得出现跳舞,诱惑,色情,暴力,反动,鼓动扰乱社会治安，宣传封建迷信等方面的表演。</p>
<p></p>
<style type="text/css">
    #table{width:80%;text-align:center;border:solid; border-width:0px 0px 0px 0px;}
    #table tr{border:solid; border-width:0px 1px 1px 0px;}
    #table td{border:solid; border-width:1px 0px 0px 1px;}
</style>
<table id="table">
    <tr style="background-color:#ffff00;">
        <td>主播身份</td>
        <td>期直播时长</td>
        <td>期有效天</td>
        <td>收到秀币</td>
        <td>期底薪（VND）</td>
    </tr>
    <tr>
        <td>普通签约主播</td>
        <td>90</td>
        <td>26</td>
        <td>10,200,000</td>
        <td>51,000,000</td>
    </tr>
    <tr>
        <td>普通签约主播</td>
        <td>90</td>
        <td>26</td>
        <td>5,100,000</td>
        <td>25,500,000</td>
    </tr>
    <tr>
        <td>普通签约主播</td>
        <td>90</td>
        <td>26</td>
        <td>2,550,000</td>
        <td>13,940,000</td>
    </tr>
    <tr>
        <td>普通签约主播</td>
        <td>90</td>
        <td>26</td>
        <td>2,040,000</td>
        <td>11,220,000</td>
    </tr>
    <tr>
        <td>普通签约主播</td>
        <td>90</td>
        <td>26</td>
        <td>1,275,000</td>
        <td>8,840,000</td>
    </tr>
    <tr>
        <td>普通签约主播</td>
        <td>90</td>
        <td>26</td>
        <td>867,000</td>
        <td>6,800,000</td>
    </tr>
    <tr>
        <td>普通签约主播</td>
        <td>90</td>
        <td>26</td>
        <td>433,500</td>
        <td>5,100,000</td>
    </tr>
    <tr>
        <td>普通签约主播</td>
        <td>90</td>
        <td>26</td>
        <td>216,750</td>
        <td>3,740,000</td>
    </tr>
    <tr>
        <td>普通签约主播</td>
        <td>90</td>
        <td>26</td>
        <td>127,500</td>
        <td>2,720,000</td>
    </tr>
    <tr>
        <td>普通签约主播</td>
        <td>90</td>
        <td>26</td>
        <td>89,250</td>
        <td>2,040,000</td>
    </tr>
    <tr>
        <td>普通签约主播</td>
        <td>90</td>
        <td>26</td>
        <td>51,000</td>
        <td>1,530,000</td>
    </tr>
</table>

<p>(注:扶持期1个月,主播每小时直播补助16,000(直播时间不低于10小时七天以上):最高补助3,500,000VND+30%礼物兑换,扶持期过后,按照主播完成任务程度进行发放工资.礼物分成40%.)扶：考核主播直播态度，扶持期开播时间内如出现挂录像、挂双站直播、只放歌不开麦的情况取消当期工资。</p>
<p>主播基本要求：</p>
<p>1、优先审核视频效果(流畅度、清晰度)，长相</p>
<p>2、客户进房间以后语音欢迎。</p>
<p>3、主动跟客户互动，带动房间气氛，并引导客户使用网站（充值、送礼等）。</p>
<p>4、通过面试第一期为试用期，表现不好者(不主动欢迎用户，屡教不改者)淘汰、开除。</p>
<p>主播的淘汰，如有以下情况者，官方有权视情节严重开除主播资格。</p>
<p>1、 在房间进行色情,暴力,反动,鼓动扰乱社会治安，宣传封建迷信等方面的表演者，一律开除。</p>
<p>2、 在房间跳诱惑性舞蹈者，一律开除并扣当期工资。</p>
<p>3、 主播在开播后，凡放录像挂机者、挂照片者。第一次警告，第二次取消底薪，第三次予以开除。</p>
<p>4、 主播号不能随便串房间，不许惹是生非，一旦产生任何矛盾，第一次警告，第二次扣当期底薪，第三次开除。</p>
<p>WAASHOW.VN考勤规则：</p>
<p></p>
<p>1 开播前必须化妆，不允许穿睡衣上麦，视频必须保证清晰干净，不允许带虚拟视频图标。违反者扣除50.000越盾底薪，给予警告。</p>
<p>2 每天1小时为一个有效天，每月直播时间需达到26个有效天。如果少一个有效天视为缺勤,当日没有薪酬,但礼物提成依然计算在内。</p>
<p>3 严禁双开（同一时间多处直播），怠工（只放歌不开麦或注意力不在房间者），以及挂录像。严禁宣传任何其他视频直播平台和网址, 一旦发现，情节轻微的扣除当日薪水，情节严重的直接解约。</p>
<p>4 连续3分钟不说话当违规，轻者扣钱，严重的收号.</p>
<p>5 当用户在房间内主动和主播交流的时候，主播持续没有反映则视为怠工或者挂录像,房间200人以下需对新进用户热情接待，不接待者扣除50.000越盾底薪，严重者扣除当天工资。</p>
<p>6 每次离开屏幕不要超过5分钟，超过5分钟需要提前告诉巡管或运营，情节轻微的扣除50.000越盾底薪处罚，严重者扣除当日底薪并给予警告。</p>
<p></p>
<p>培训课程</p>
<p></p>
<p>一、新人培训（房间操作及主播须知讲解）</p>
<p>二、房间人气培训（指导主播发展方向、房间人气提升技巧）</p>
<p>三、优秀主播专场分享</p>
<p>本协议不可提供给第三方如果没有甲方的书面同意</p>
<p>本协议分成两份, 有一样的法律规定, 甲乙方一份各留一份. 签日开始生效………</p>
<table style="width:80%;">
    <tr>
        <td>乙方签名</td>
        <td>甲方签名</td>
    </tr>
    <tr>
        <td>(签名和写全名)</td>
        <td>(签名和写全名)</td>
    </tr>
</table>
</body>
</html>