<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <style>
        html,body{
            height: 100%;
            font-size: 14px;
            line-height: 1.5;
        }
        ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,label,
        form,fieldset,legend,input,textarea,select,button{
            margin:0;
            padding:0;
            border:0;
            background-color: transparent;
            font-family:"PingFang SC","Helvetica Neue", Helvetica, "Microsoft Yahei", "WenQuanYi Micro Hei", Arial,Verdana,sans-serif ;
        }
        h1,h2,h3,h4,h5,h6,i,b,strong,p,div{
            word-wrap: break-word;
        }
        h1{
            font-size: 36px;
        }
        h2{
            font-size: 30px;
        }
        h3{
            font-size: 24px;
        }
        h4{
            font-size: 18px;
        }
        h5{
            font-size: 14px;
        }
        h6{
            font-size: 14px;
        }
    </style>
</head>
<body>
            <h3 align="center">Thỏa hiệp user nạp xu Waashow</h3>
            <h4>1. Nhắc nhỡ</h4>
            <p>Waashow đồng ý cung cấp dịch vụ nạp xu trực tuyến phù hợp với các quy định của thỏa hiệp này ( dịch vụ như sau ),
            Bao gồm và cần dịch vụ nạp xu, dịch vụ người dùng ( bên dưới bạn “người dùng” ) đồng ý toàn bộ điều kiện của thỏa hiệp này và  hoàn thành thủ tục nạp xu, khi ngưởi dùng đang tiến hành quá trình thủ tục nạp xu và bấm “đồng ý” nhấn nút là người dùng đã hoàn toàn đồng ý với điều kiện thỏa hiệp bên dưới, nhưng điều khoản này do bên Waashow tự sửa đổi, một khi thỏa hiệp này có sự thây đổi, sẽ biểu thị nội dung sửa đổi ở trang chủ, sau khi dịch vụ có sửa đổi và công bố trên trang bìa sẽ lập tức được thây thế bản thỏa hiệp cũ, người dùng có thể tra xem thỏa hiệp mới bất cứ lúc nào, trước khi người dùng sử dụng những dịch vụ do Waashow cung cấp, cần đọc kỹ thỏa hiệp của dịch vụ này, nếu người dùng không đồng ý với thỏa hiệp này hoặc tự ý sửa đổi, thì ngưng sử dụng dịch vụ Waashow cung cấp.</p>
            <h4>2. Nội dung dịch vụ</h4>
            <p>2.1 dịch vụ nạp xu của Waashow là căn cứ theo nội dung tình trạng thật tế để cung cấp, bao lưu kiệp thời sửa đổi, gián đoạn hoặc chấm dứt hoặc toàn bộ quyền lợi của dịch vụ này.</p>
            <p>2.2 khi Waashow cung cấp dịch vụ này, có thể sẽ thu một số phí dùng nhất định về dịch vụ này, dưới tình trạng sau đây, Waashow sẽ biểu thị nội dung sửa đổi ở trang chủ, nếu người dùng không đồng ý thanh toán phí dúng vv..thì sẽ không được cung cấp dịch vụ.</p>
            <p>2.3 hiểu biết của người dùng. Waashow chỉ cung cấp dịch vụ có liên quan, còn ngoài ra những thứ thiết bị liên quan như ( máy tính, thiết bị modem mạng internet hoặc những thứ có liên quan ) hoặc những chi phí cần thiết, ( những chi phí internet hoặc máy tính, chi phí online ) toàn bộ do người dùng chi trả.</p>
            <h4>3. quy tắc sử dụng</h4>
            <p>3.1 người dùng phải sử dụng cách thức nạp xu của Waashow chỉ định, cách thức khả dụng bao gồm: card điện thoại, thẻ ATM VISA, card game để nạp xu theo cách thức chỉ định của Waashow, để tăng số lượng tài khoản người dùng tiền ảo. nếu người dùng không nạp xu theo cách chỉ dẫn của Waashow, hoặc dùng những phương pháp trái phép để nạp tạo nên thiệt hại, không được yêu cầu Waashow bồi thường. Waashow có quyền chấm dứt bảo lưu tư cách người dùng về dịch vụ và quyền lợi.</p>
            <p>3.2 khi người dùng nạp xu thành công, xác nhận nạp xu thành công, Waashow sẽ không cung cấp bất cứ thây đổi hoặc chỉnh sửa nào nữa, người dùng không được yêu cầu Waashow hoàn trả xu nạp của sản phẩm, trừ khi sản phẩm không dùng đượ, sau khi nạp nếu có bất kỳ số dư nào, người dùng không được yêu cầu hoàn trả lại.</p>
            <p>3.3 khi sử dụng hệ thống nạp xu của Waashow, người dùng cần phải xác nhận chính xác mã tài khoản của mình,nếu người dùng tự điền sai thông tin, không biết thao tác hoặc cách thức để làm tạo nên nạp nhầm, sự sai lầm sẽ do người dùng chịu trách nghiệm và không được yêu cầu Waashow bồi thường bất cứ gì.</p>
            <p>3.4 nếu người dùng vi phạm thỏa hiệp điều khoản nạp tiền và người dùng Waashow, Waashow sẽ đóng băng tài khoản và chấm dứt tư cách người dùng, không được vì vậy mà yêu cầu Waashow bồi thường bất cứ gì.</p>
            <p>3.5 sau khi sử dụng cách thức nạp xu của Waashow, cần bao lưu lại card để đến khi kết thúc mới thôi, để đối chứng với vấn đề phát sinh sau này, nếu không bảo lưu card và khi xẩy ra tổn thất, không được đồi hỏi Waashow bồi thường bất cứ gì.</p>
            <p>3.6 nếu do hệ thống nạp xu của Waashow xẩy ra vấn đề tạo nên tổn thất, khi hệ thống khôi phục, lưu lại những chứng cứ hợp pháp và người dùng cung cấp lại dưới tình trạng bằng chứng, Waashow sẽ dựa trên tình trạng nạp và sử lý.</p>
            <p>3.6.1 nếu vì lý do của hệ thống nạp xu, tạo nên hệ thống nạp xu ít hơn thật tế, Waashow sẽ giải quyết phần chênh lệnh.</p>
            <p>3.6.2 nếu vì lý do của hệ thống nạp xu, tạo nên hệ thống nạp xu nhiều hơn thật tế, Waashow có quyền lấy lại phần chênh lệnh.</p>
            <h4>4. Chính sách bảo mật</h4>
            <p>4.1 bảo vệ người dùng, ( đặc biệt là vị thành niên ) Bảo mật là một chính sách cơ bản của Waashow, bởi vậy, như cha me ( người giám hộ ) hy vọng vị thành niên ( nhất là nam nữ dưới 10 tuổi ) có thể sử dụng dịch vụ này, nhưng cần xin đăng ký dưới danh nghĩa ( người giám hộ ) cha mẹ, khi chấp nhận thỏa hiệp này, nên để người giám hộ xác định xem dịch vụ này phù hợp với trẻ vị thành niên không. Waashow cam đoan không để công khai hoặc tiết lộ cho người thứ 3 ( 4.2 trừ những trường hợp sau ) cung cấp đăng ký tư liệu người dùng và khi người dùng sử dụng dịch vụ nạp xu internet trên Waashow không tiết lộ, nhưng trừ những trường hợp sau:<br />
            (a) trước tiên lấy được người dùng ủy quyền xác thật;<br />
            (b) căn cứ vào những pháp lý yêu cầu có liên quan;<br />
            (c) dựa theo yêu cầu của bộ phận chủ quản và chính phủ;<br />
            (d) để bảo vệ lợi ích công cộng;<br /> 
            (e) để bảo vệ các quyền và lợi ích hợp pháp của Waashow.</p>
            <p>4.2 Waashow sẽ hợp tác với người thứ 3 để cung cấp dịch vụ nạp xu cho người dùng, với tình trạng bên dưới, nếu bên thứ ba đồng ý chịu trách nhiệm như nhau với Waashow để bảo vệ sự riêng tư của người sử dụng, thì Waashow sẽ cung cấp tư liệu đăng ký của người dùng cho người thứ 3.</p>
            <p>4.3 Dưới tình trạng không tiết lộ bảo mật tư liệu cá nhân, Waashow có quyền đối với toàn bộ danh sách người dùng tiến hành phân tích, sau khi chỉnh lý danh sách người dùng và có thể tiến hành sử dụng kinh doanh. mặc dù Waashow nỗ lực rất lớn để bảo vệ riêng tư cho người dùng, nhưng vẫn không thể bảo đảm sự an toàn của các biện pháp kỹ thuật hiện có để thông tin kỹ thuật của người sử dụng chịu bất kỳ sự mất mát.</p>
            <h4>5. Miễn trách nhiệm</h4>
            <p>5.1 hệ thống nạp xu không đảm bảo mục bên dưới:<br />
            (a) dịch vụ này có phù hợp với yêu cầu của bạn;<br />
            (b) dịch vụ này không chịu sự can thiệp, cung cấp nhanh, an toàn và không sơ xuất.</p>
            <p>5.2 người dùng đồng ý sử dụng dịch vụ nạp xu của Waashow và hoàn toàn chấp nhận sự mạo hiểm và tự mình gánh vác; khi sử dụng dịch vụ nạp xu của Waashow và xẩy ra vấn đề gì người dụng tự chịu trách nhiệm, Waashow sẽ không chịu trách nhiệm về trách nghiệm này.</p>
            <h4>6. dịch vụ thây đổi, tạm ngưng hoặc chấm dứt</h4>
            <p>6.1 nếu hệ thống duy trì hoặc nâng cấp cần tạm ngưng dịch vụ nạp xu, Waashow sẽ tiến hành thông báo trước.</p>
            <p>6.2 nếu phát hiện bất cứ những tình trạng bên dưới, Waashow có quyền gián đoạn và tạm ngưng và cung cấp cho người dùng thỏa hiệp bên dưới về thông báo dịch vụ nạp xu:<br />
            (a)Người dùng cung cấp tư liệu không xác thật;<br />
            (b)Người dùng vi phạm chính sách và quy định của thỏa hiệp này.</p>  
            <p>6.3 Mặc dù ngoài những trường hợp nói trên, Waashow đồng ý bảo lưu trong tình trạng không báo trước cho người dùng mà gián đoạn và chấm dứt quyền lợi dịch vụ nạp xu, đối với việc gián đoạn và chấm dứt tạo nên thiệt hại, Waashow không cần chiu7 bất cứ trách nhiệm nào đối với người dùng và người thứ 3.</p>
            <h4>7. Bồi thường vi phạm</h4>
            <p>7.1 Người sử dụng đồng ý bảo vệ lợi ích của người dùng khác và Waashow, nếu người dung vi phạm luật pháp có liên quan, pháp lý hoặc bất cứ điều kiện và điều khoản trong thỏa hiệp này tạo nên thiệt hại cho Waashow và người thứ 3, người dùng phải chịu trách nhiệm cho việc thiệt hại và bồi thường.</p>
            <h4>8. Thẩm quyền pháp lý</h4>
            <p>8.1 nếu song phương phát sinh bất cứ tranh cãi trong nội dung thỏa hiệp này, song phương cần có thái độ tốt để thoa thuận, nếu thỏa thuận không thành, bất cứ một phương có thể đến tòa án để khởi kiện.</p>
            <h4>9. quy định khác</h4>
            <p>9.1 thỏa hiệp này là cột móc có liên quan về sự hứa hẹn vật chất tuyệt đối đối với song phương, trừ những quy định trong thỏa hiệp này, bản thỏa hiệp này chưa được quyền chuyển nhượng cho các bên.</p>
            <p>9.2 nếu trong thỏa hiệp này bất kể những điểu khoản nào và bất kỳ lý do hoàn toàn và tất cả không có hiệu lực hoặc không hành vi cụ thể, Các điều khoản còn lại của thỏa hiệp này sẽ có hiệu lực và sự bắt buộc.</p>
            <p>9.3 những đề xuất trong thỏa hiệp này không phải tự nhiên mà ra, không có hiệu lực pháp luật hoặc kết quả hợp đồng.</p>
</body>
</html>