<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <style>
        html,body{
            height: 100%;
            font-size: 14px;
            line-height: 1.5;
        }
        ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,label,
        form,fieldset,legend,input,textarea,select,button{
            margin:0;
            padding:0;
            border:0;
            background-color: transparent;
            font-family:"PingFang SC","Helvetica Neue", Helvetica, "Microsoft Yahei", "WenQuanYi Micro Hei", Arial,Verdana,sans-serif ;
        }
        h1,h2,h3,h4,h5,h6,i,b,strong,p,div{
            word-wrap: break-word;
        }
        h1{
            font-size: 36px;
        }
        h2{
            font-size: 30px;
        }
        h3{
            font-size: 24px;
        }
        h4{
            font-size: 18px;
        }
        h5{
            font-size: 14px;
        }
        h6{
            font-size: 14px;
        }
    </style>
</head>
<body>
            <h3 align="center">User agreement load cent</h3>
            <h4>1.Remind</h4>
            <p>Waashow agree to provide online services cents loaded in accordance with the provisions of this agreement (the following services).</p>
            <p>Including trends and needs charging service, service users (below you "user") agree to all the conditions of this agreement and the completion of the procedures loaded coin, when the user is conducting the procedure loaded coins and press the "Accept" button that the user has completely agree with compromise conditions below, but this provision by the self-amend Waashow, a compromise when there is a change, will denote amendments in the home, after the service has revised and published on the front page will immediately replace the old compromise, users can see if a new agreement at any time, before the user use the services provided by Waashow, should carefully read the service agreement, if the user does not agree to this compromise or arbitrarily modified, then stop using the services provided Waashow.</p>
            <h4>2.Content of Services</h4>
            <p>2.1 cents loaded of Waashow service is based on the true state of health content to provide, how to save your prompt modify, discontinue or terminate the entire benefits of this service.</p>
            <p>2.2 when Waashow provide this service, can be obtained some certain user fees for this service, under the following condition, Waashow will indicate amendments in the home, if the user does not agree to pay vv..thi PHI will not be providing services.</p>
            <p>2.3 the user's knowledge. Waashow only provide related services, but aside from that things related equipment (computers, internet or modem device related things) or the necessary expenses, (the cost of internet or computer calculation, cost online) user full pay.</p>
            <h4>3.The rules of using</h4>
            <p>3.1 users must use manner specified load Waashow cents, how available are: phone cards, ATM cards VISA, card game to load in the manner specified cent of Waashow, to increase the number of accounts using virtual money. if the user is not loaded cents Waashow way directed by, or used illegal methods to load creating damages, unsolicited Waashow compensation. Waashow reserves the right to terminate as a user of services and benefits.</p>
            <p>3.2 when the user loads successful trend, confirming the trend successfully loaded, Waashow will not provide any changes or further editing, users are not required to submit the trend Waashow refund of the product, unless the product Duo not use after the load if there is any balance, users are not required to refund.</p>
            <p>3.3 when using the system's tendency Waashow loaded, users need to confirm the accuracy of your account code, if the user manually entered the wrong information, manipulate or do not know how to do make up loaded by mistake, the wrong mistakes will be made by the user in charge and unsolicited test Waashow compensation whatsoever.</p>
            <p>3.4 if the user violates the terms deposit agreement and users Waashow, Waashow will freeze the account and terminate the user, are not required so that whatever compensation Waashow.</p>
            <p>3.5 after using Waashow how loaded cents, to how to save the card until the new end only, for comparison with problems arising later, without reservation card and when losses occur, not hill asked Waashow compensation whatsoever.</p>
            <p>3.6 if the trend by charging system problem occurred Waashow make losses, the system restore, save the legal evidence and users to provide proof to the lower status, will be based on the status Waashow loaded and process：</p>
            <p>3.6.1 if for some reason the penny intake system, intake system make up less real economic trends, will settle the difference Waashow command;</p>
            <p>3.6.2 if for some reason the penny intake system, intake system creating more real economic trends, have the right to take back part Waashow difference;</p>
            <h4>4.Privacy Policy</h4>
            <p>4.1 protect users, (especially adolescents) Privacy is a basic policy of Waashow, therefore, as parents (guardians) hope adolescents (especially men and women under 10 years old) can use this service, but need to apply for registration in the name of (the guardian) parents, when accepting this compromise, the guardian should determine appropriate services for adolescents is not . Waashow undertaking not to public or disclosed to 3rd (4.2 except for the following cases) provide user registration and documentation when users use internet services on Waashow loaded coin did not disclose, but excluding following cases:<br />
              (A) First derive genuine authorized users;<br />
              (B) the legal basis of the relevant requirements;<br />
              (C) based on the request of the managing department and the government;<br />
              (D) to protect the public interest;<br />
              (E) to protect the legitimate rights and interests of Waashow.</p>
            <p>4.2 Waashow will cooperate with the 3rd person to provide services to the user load trends, the situation below, if a third party agrees to take responsibility equally with Waashow to protect the privacy of users, it will provide materials Waashow registered user for 3rd person.</p>
            <p>4.3 Under the non-disclosure of personal data security, Waashow have rights to the entire list of users to conduct analysis, after the revision of the list of users and can be used to conduct business. Waashow despite great efforts to protect the privacy of users, but can not guarantee the safety of the existing technical measures to the technical information of the users suffer any loss.</p>
            <h4>5.Disclaimer</h4>
            <p>5.1cents intake system does not guarantee the item below:<br />
　            (a) This service is appropriate for your needs;<br />
　            (b) the service is not subject to interference, providing fast, safe and without negligence;</p>
            <p>5.2The User agrees to use the services of Waashow cents loaded and fully accept the risks and shouldering himself; when using the services of Waashow loaded coin matter what happens and who use self-responsibility, Waashow will not be responsible for this test charge.</p>
            <h4>6.changing service, suspended or terminated</h4>
            <p>6.1 If the system needs to maintain or upgrade the service suspended load cents, Waashow will take notice.</p>
            <p>6.2 If it detects any conditions below, Waashow have the right to interrupt and pause and give users compromise below the loaded coin service announcement:<br />
　            (a) Users are not documenting the reality;<br />
　            (b) Users who violate the policy and provisions of this agreement.</p>
            <p>6.3 Although apart from the above-mentioned case, Waashow agree reserves in the state without notice to the user that the interruption and termination benefits loaded coin service, for the interruption and termination create damage, chiu7 Waashow without any liability whatsoever for users and 3rd.</p>
            <h4>7.Compensate for breach</h4>
            <p>7.1 Users agree to protect the interests of users and Waashow, if it violates the relevant laws, legal or any other conditions and terms of the agreement constitute damage to Waashow and 3rd, the user must be responsible for the damages and compensation.</p>
            <h4>8.Legal Jurisdiction</h4>
            <p>8.1 If any controversy arises in the context of this agreement, a bilateral need a good attitude to the agreement, if the agreement fails, any means can go to court to sue.</p>
            <h4>9.Other regulations</h4>
            <p>9.1 This agreement is a milestone related to the promise of absolute matter for bilateral, except as provided in this agreement, the compromise has not been transferred to the parties rights.</p>
            <p>9.2 If this agreement regardless of the terms, conditions and any reason completely and all have no effect or a specific act, the remaining provisions of this agreement shall take effect and the mandatory.</p>
            <p>9.3 The proposals in this compromise that is not natural, there is no legally enforceable contract or results</p>
</body>
</html>