<tagLib name="html" />
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <title>{:lan('ADMIN_MAN_TITLE', 'Admin')}</title>
    <link href="__PUBLIC__/Public/statics/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Public/statics/css/system.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Public/statics/css/table_form.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Public/statics/css/dialog.css" rel="stylesheet" type="text/css" />
    <script language="javascript" type="text/javascript" src="__PUBLIC__/Public/statics/js/dialog.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Public/statics/css/style/styles1.css" title="styles1" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="__PUBLIC__/Public/statics/css/style/styles2.css" title="styles2" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="__PUBLIC__/Public/statics/css/style/styles3.css" title="styles3" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="__PUBLIC__/Public/statics/css/style/styles4.css" title="styles4" media="screen" />
    <script language="javascript" type="text/javascript" src="__PUBLIC__/Public/statics/js/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="__PUBLIC__/Public/statics/js/admin_common.js"></script>
    <script language="javascript" type="text/javascript" src="__PUBLIC__/Public/statics/js/styleswitch.js"></script>

</head>
<body>
<style type="text/css">
    html{_overflow-y:scroll}
</style><div id="closeParentTime" style="display:none"></div>
<div class="pad-10">
    <div class="subnav">
        <div class="content-menu ib-a blue line-x">
            <a href="{:U('Admin/SystemSet/update')}" class="on"><em>{:lan('ADD', 'Admin')}</em></a>
        </div>
    </div>
    <form id="myform" action="" method="post" enctype="multipart/form-data">
        <div class="table-list">
            <table width="100%">
                <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                    <th>{:lan('REMARKS', 'Admin')}</th>
                    <th>{:lan('OPERATION', 'Admin')}</th>
                </tr>
                </thead>
                <tbody>
                <volist name="list" id="vo" key="k">
                    <tr>
                        <td align="center">{$vo['key']}  </td>
                        <td>{$vo['value']}</td>
                        <td>{$vo['remark']}</td>
                        <td align='center'>
                            <a href="{:U('Admin/SystemSet/update/key/'.$vo['key'])}">{:lan('EDIT', 'Admin')}</a>
                        </td>
                    </tr>
                </volist>
                </tbody>
            </table>
        </div>
    </form>
</div>
</body>
</html>