<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="/Public/Public/Images/favicon.ico"/>
    <title></title>
</head>
<body>


  <div style="width: 100%;text-align: center;">
    <div>
    	<img src="{$Think.config.IMAGE_BASE_URL}{$data.pic}" style="margin-right: 10px;margin-bottom: 10px;max-width: 300px;">
    </div>
    <div>
    </div>  
  </div>

</body>
</html>
