<tagLib name="html" />
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <title>{:lan('ADMIN_MAN_TITLE', 'Admin')}</title>
    <link href="__PUBLIC__/Public/statics/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Public/statics/css/system.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Public/statics/css/table_form.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Public/statics/css/dialog.css" rel="stylesheet" type="text/css" />
    <script language="javascript" type="text/javascript" src="__PUBLIC__/Public/statics/js/dialog.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Public/statics/css/style/styles1.css" title="styles1" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="__PUBLIC__/Public/statics/css/style/styles2.css" title="styles2" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="__PUBLIC__/Public/statics/css/style/styles3.css" title="styles3" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="__PUBLIC__/Public/statics/css/style/styles4.css" title="styles4" media="screen" />
    <script language="javascript" type="text/javascript" src="__PUBLIC__/Public/statics/js/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="__PUBLIC__/Public/statics/js/admin_common.js"></script>
    <script language="javascript" type="text/javascript" src="__PUBLIC__/Public/statics/js/styleswitch.js"></script>

</head>
<body>
<style type="text/css">
    html{_overflow-y:scroll}
</style><div id="closeParentTime" style="display:none"></div>
<div class="pad-10">
    <div class="content-menu ib-a blue line-x">
        <a href="javascript:;" onclick="javascript:$('#searchid').css('display','');"><em>{:lan('BTN_SEARCH', 'Admin')}</em></a>
    </div>
    <div id="searchid" style="display:none">
        <form name="searchform" action="/Admin/Finance/agent_recharge_detail" method="get" >
            <table width="100%" cellspacing="0" class="search-form">
                <tbody>
                <tr>
                    <td>
                        <div class="explain-col">
                            {:lan('TRANSACTION_TIME', 'Admin')}：
                            <link rel="stylesheet" type="text/css" href="__PUBLIC__/Public/statics/js/calendar/jscal2.css"/>
                            <link rel="stylesheet" type="text/css" href="__PUBLIC__/Public/statics/js/calendar/border-radius.css"/>
                            <link rel="stylesheet" type="text/css" href="__PUBLIC__/Public/statics/js/calendar/win2k.css"/>
                            <script type="text/javascript" src="__PUBLIC__/Public/statics/js/calendar/calendar.js"></script>
                            <script type="text/javascript" src="__PUBLIC__/Public/statics/js/calendar/lang/en.js"></script>
                            <input type="text" name="start_time" id="start_time" value="{$_GET['start_time']}" size="10" class="date" readonly>&nbsp;<script type="text/javascript">
                            Calendar.setup({
                                weekNumbers: false,
                                inputField : "start_time",
                                trigger    : "start_time",
                                dateFormat: "%Y-%m-%d",
                                showTime: false,
                                minuteStep: 1,
                                onSelect   : function() {this.hide();}
                            });
                        </script>- &nbsp;<input type="text" name="end_time" id="end_time" value="{$_GET['end_time']}" size="10" class="date" readonly>&nbsp;<script type="text/javascript">
                            Calendar.setup({
                                weekNumbers: false,
                                inputField : "end_time",
                                trigger    : "end_time",
                                dateFormat: "%Y-%m-%d",
                                showTime: false,
                                minuteStep: 1,
                                onSelect   : function() {this.hide();}
                            });
                        </script>
                            {:lan('AGENT_NAME', 'Admin')}：
                            <input name="agentname" type="text" class="input-text" value="{$_GET['agentname']}" />
                            <input type="submit" name="search" class="button" value="{:lan('BTN_SEARCH', 'Admin')}" />
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
        <script>
            $('#searchid').css('display','');
        </script>
    </div>
    <form name="myform" id="myform" action="__URL__/del_multi_earndetail/" method="post" >
        <div class="table-list">
            <table width="100%">
                <thead>
                <tr>
                    <th width="50">{:lan('SYS_NUMBER', 'Admin')}</th>
                    <th width="100">{:lan('AGENT_NAME', 'Admin')}</th>
                    <th width="100">{:lan('USERNAME', 'Admin')}</th>
                    <th width="100">{:lan('VIRTUAL_MONEY', 'Admin')}</th>
                    <th width="100">{:lan('LOCAL_CURRENCY', 'Admin')}</th>
                    <th width="100">{:lan('TRANSACTION_NO', 'Admin')}</th>
                    <th width="150">{:lan('TRANSACTION_TIME', 'Admin')}</th>
                    <th width="100">{:lan('RECHARGE_APPROVE_STATUS', 'Admin')}</th>
                </tr>
                </thead>
                <tbody>
                <volist name="recharges" id="vo" key="k">
                    <tr>
                        <td align="center">{$k}</td>
                        <td align='center'>{$vo['agentname']}</td>
                        <td align="center">{$vo['username']}</td>
                        <td align='center'>{$vo['showamount']}</td>
                        <td align='center'>{$vo['amount']}</td>
                        <td align='center'>{$vo['orderno']}</td>
                        <td align="center">{$vo['rechargetime']}</td>
                        <td align='center'>
                            <if condition="$vo['status']=='0'">
                                <span style="color:red;">{:lan('RECHARGE_APPROVE_NO_PASS', 'Admin')}</span>
                                <elseif condition="$vo['status']=='1'"/>
                                <span style="color:green;">{:lan('RECHARGE_APPROVE_PASS', 'Admin')}</span>
                                <elseif condition="$vo['status']=='2'"/>
                                {:lan('RECHARGE_WAIT_APPROVE', 'Admin')}
                            </if>
                        </td>
                    </tr>
                </volist>

                </tbody>
            </table>
            <div id="pages">{$page}</div>
        </div>
        <input type="hidden" id="return" name="return" value="{$_SERVER["REQUEST_URI"]|base64_encode}" >
    </form>
</div>
<script type="text/javascript">
    <!--
    function confirm_delete(){
        if(confirm('{:lan("CONFIRM_DELETE", "Admin")}')) $('#myform').submit();
    }

    //-->
</script>
</body>
</html>