<tagLib name="html" />
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <title>{:lan('ADMIN_MAN_TITLE', 'Admin')}</title>
    <link href="__PUBLIC__/Public/statics/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Public/statics/css/system.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Public/statics/css/table_form.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Public/statics/css/style/styles1.css" title="styles1" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="__PUBLIC__/Public/statics/css/style/styles2.css" title="styles2" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="__PUBLIC__/Public/statics/css/style/styles3.css" title="styles3" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="__PUBLIC__/Public/statics/css/style/styles4.css" title="styles4" media="screen" />
    <script language="javascript" type="text/javascript" src="__PUBLIC__/Public/statics/js/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="__PUBLIC__/Public/statics/js/admin_common.js"></script>
    <script language="javascript" type="text/javascript" src="__PUBLIC__/Public/statics/js/styleswitch.js"></script>
    <script language="javascript" type="text/javascript" src="__PUBLIC__/Public/statics/js/formvalidator.js" charset="UTF-8"></script>
    <script type="text/javascript">
        window.focus();
    </script>
</head>
<body>
<div class="subnav">
    <div class="content-menu ib-a blue line-x">
        <a href='__URL__/agent_recharge_detail/' ><em>{:lan('AGENT_RECHARGE_RECORD', 'Admin')}</em></a><span>|</span><a href='javascript:;' class="on"><em>{:lan('MANUAL_RECHARGE', 'Admin')}</em></a>    </div>
</div>
<style type="text/css">
    html{_overflow-y:scroll}
</style><script type="text/javascript">
    <!--
    $(function(){
        $.formValidator.initConfig({autotip:true,formid:"myform",onerror:function(msg){}});
        $("#agentname").formValidator({onshow:"{:lan('PLZ_INPUT_AGENT_NAME', 'Admin')}",onfocus:"{:lan('PLZ_INPUT_AGENT_NAME', 'Admin')}",oncorrect:"{:lan('INPUT_SUCCESS', 'Admin')}"}).inputValidator({min:1,max:20,onerror:"{:lan('PLZ_INPUT_AGENT_NAME', 'Admin')}"});
        $("#rechargeamount").formValidator({onshow:"{:lan('PLZ_INPUT_RECHARGE_MONEY', 'Admin')}",onfocus:"{:lan('PLZ_INPUT_RECHARGE_MONEY', 'Admin')}",oncorrect:"{:lan('INPUT_SUCCESS', 'Admin')}"}).inputValidator({min:1,max:20,onerror:"{:lan('PLZ_INPUT_RECHARGE_MONEY', 'Admin')}"});
    })
    //-->
</script>
<div class="pad_10">
    <div class="common-form">
        <form name="myform" action="__URL__/do_manual_agent_recharge/" method="post" id="myform">
            <table width="100%" class="table_form contentWrap">
                <tr>
                    <td width="80">{:lan('AGENT_NAME', 'Admin')}</td>
                    <td><input type="text" name="agentname"  class="input-text" id="agentname"></td>
                </tr>
                <tr>
                    <td width="80">{:lan('AMOUNT', 'Admin')}</td>
                    <td><select name="math"><option value="plus">+</option><option value="subtract">-</option></select><input type="text" name="rechargeamount"  class="input-text" id="rechargeamount" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" onpaste="return false"></input>{:lan('VIRTUAL_UNIT_COIN', 'Admin')}</td>
                </tr>
            </table>
            <div class="bk15"></div>
            <input name="dosubmit" type="submit" value="{:lan('SUBMIT_BUTTION', 'Admin')}" class="button">
        </form>
    </div>
</div>
</body>
</html>

