@charset "utf-8";
/* CSS Document */
.click{border-top-color:#ff461e;
border-top-style: solid;}
img{vertical-align: middle;}
body{font-family: 'Helvetica Neue',Arial,'Hiragino Sans GB','WenQuanYi Micro Hei','Microsoft YaHei',sans-serif,SimSun; font-size:12px;}
.family_content_box{ width:1300px; height:auto; margin:auto;}
.family_content_left{ width:900px; height:auto; float:left; margin-top:10px;}
.family_content_list{width:900px; height:auto;}
.item{position: relative; display: block; float: left; overflow: hidden; width: 170px; margin: 0 20px 25px 0; color: #333; margin:0; padding:0; margin-right:10px; margin-top:20px;}
.familyname{ margin:0; padding:0; font-size:14px; line-height:32px; color:#3B3B3B;font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif; font-family:"微软雅黑";}
.item dt{font-size: 12px;line-height: 22px; float: left;clear: both; margin-right: 5px;color: gray; margin:0; padding:0;}
.guild-medal-position {
    padding-top: 2px;
    position: relative;
    margin-left: 2px;
}
.guild-level-style1 {
    display: inline-block;
	margin-top:4px;
    width: 80px;
    height: 26px;
    background: url(../images/onlive/tail.png); no-repeat center;
    text-align: center;
    box-sizing: border-box;
    padding-top: 2px;
    padding-left: 5px;
}
.guild-medal-position .guild-char-postion {
    display: inline-block;
    vertical-align: top;
    margin-left: 0px;
    margin-top: 7px;
}
.char-style1.char-A {
    background-position: 0 0;
}
.char-style1.char-B {
    background-position: 0 -11px;
}
.char-style1.char-C {
    background-position: 0 -22px;
}
.char-style1.char-D {
    background-position: 0 -33px;
}
.char-style1.char-E {
    background-position: 0 -44px;
}
.char-style1.char-F {
    background-position: 0 -55px;
}
.char-style1.char-G {
    background-position: 0 -66px;
}
.char-style1.char-H {
    background-position: 0 -77px;
}
.char-style1.char-I {
    background-position: 0 -88px;
    width: 5px;
}
.char-style1.char-J {
    background-position: 0 -99px;
    width: 5px;
}
.char-style1.char-K {
    background-position: 0 -110px;
}
.char-style1.char-L {
    background-position: 0 -121px;
    width: 6px;
}
.char-style1.char-M {
    background-position: 0 -132px;
    width: 9px;
}
.char-style1.char-N {
    background-position: 0 -143px;
}
.char-style1.char-O {
    background-position: 0 -154px;
}
.char-style1.char-P {
    background-position: 0 -165px;
}
.char-style1.char-Q {
    background-position: 0 -176px;
}
.char-style1.char-R {
    background-position: 0 -187px;
}
.char-style1.char-S {
    background-position: 0 -198px;
}
.char-style1.char-T {
    background-position: 0 -209px;
}
.char-style1.char-U {
    background-position: 0 -220px;
}
.char-style1.char-V {
    background-position: 0 -231px;
}
.char-style1.char-W {
    background-position: 0 -242px;
    width: 9px;
}
.char-style1.char-X {
    background-position: 0 -252px;
}
.char-style1.char-Y {
    background-position: 0 -264px;
}
.char-style1.char-z {
    background-position: 0 -274px;
}

.char-style1 {
    background: url(../images/char_style1.png) no-repeat top left;
    width: 7px;
    height: 9px;
    display: inline-block;
    vertical-align: top;
    margin-left: 1px;
}
.unselect, i, .i, .icon {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
address, caption, cite, code, dfn, em, i, th, var {
    font-style: normal;
    font-weight: 400;
}
user agent stylesheeti, cite, em, var, address, dfn {
    font-style: italic;
}
.item dd {
	    font-size: 12px;
    line-height: 22px;
    float: left;
    display: block;
    -webkit-margin-start: 4px;
}


.family_content_right{ width:285px; height:auto; float:right; margin-top:20px; }

#guild-about-btn{ background-image:url(../images/foxesfm.png); margin:0; border:1px #ffffff solid;}
#guild-about-btn .ok-button {
    font-size: 18px;
    line-height: 36px;
    display: block;
    width: 240px;
    height: 36px;
    margin: 190px auto 0;
	box-shadow:1px 1px 2px  #464646;

}
.ok-button {
    font-weight: 400;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 8px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    border: 1px solid #ff461e;
    border-bottom-color: #ff461e;
    border-radius: 2px;
    outline: 0;
    background-color: #ff461e;
    box-shadow: inset 0 -1px 0 #ff461e;
}
a {
    text-decoration: none;
}
user agent stylesheeta:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}
.fm ul li{ width:280px; margin-top:20px}
.fm .photo{ display:inline-block; vertical-align:middle;}
.fm .username{ margin-left:10px;display:inline-block; vertical-align:middle; width:95px; overflow:hidden; height:23px;}
.fm .grade{ margin-top:11.5px; margin-left:35px}
.fm .num{ margin-left:8px}
.le{ float:right; margin-top:10px}
.user{margin-left: 5px;}


.pulldown{ width:600px; height:20px; margin:0 auto; text-align:center}







