<tagLib name="html" />
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=7" />
	<title>{:C('LOAD_EXT_CONFIG')}</title>
	<link href="__PUBLIC__/Public/statics/css/reset.css" rel="stylesheet" type="text/css" />
	<link href="__PUBLIC__/Public/statics/css/system.css" rel="stylesheet" type="text/css" />
	<link href="__PUBLIC__/Public/statics/css/table_form.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Public/statics/css/style/styles1.css" title="styles1" media="screen" />
	<link rel="alternate stylesheet" type="text/css" href="__PUBLIC__/Public/statics/css/style/styles2.css" title="styles2" media="screen" />
	<link rel="alternate stylesheet" type="text/css" href="__PUBLIC__/Public/statics/css/style/styles3.css" title="styles3" media="screen" />
	<link rel="alternate stylesheet" type="text/css" href="__PUBLIC__/Public/statics/css/style/styles4.css" title="styles4" media="screen" />
	<script language="javascript" type="text/javascript" src="__PUBLIC__/Public/statics/js/jquery.min.js"></script>
	<script language="javascript" type="text/javascript" src="__PUBLIC__/Public/statics/js/admin_common.js"></script>
	<script language="javascript" type="text/javascript" src="__PUBLIC__/Public/statics/js/styleswitch.js"></script>
	<script language="javascript" type="text/javascript" src="__PUBLIC__/Public/statics/js/formvalidator.js" charset="UTF-8"></script>
	<script language="javascript" type="text/javascript" src="__PUBLIC__/Public/statics/js/formvalidatorregex.js" charset="UTF-8"></script>
	<script type="text/javascript">
		window.focus();
	</script>
</head>
<body>
<div class="subnav">
	<div class="content-menu ib-a blue line-x">
	</div>
</div>
<style type="text/css">
	html{_overflow-y:scroll}
</style><script type="text/javascript">
	$(document).ready(function() {
		$.formValidator.initConfig({autotip:true,formid:"myform",onerror:function(msg){}});
		$("#old_password").formValidator({empty:true,onempty:"{:lan('PLZ_INPUT_OLD_PWD', 'Admin')}",onshow:"{:lan('PLZ_INPUT_OLD_PWD', 'Admin')}",onfocus:"{:lan('PWD_ISSIX_TO_TWENTY', 'Admin')}",oncorrect:"{:lan('INPUT_SUCCESS', 'Admin')}"}).inputValidator({min:6,max:20,onerror:"{:lan('OLD_PWD_ISWRONT', 'Admin')}"});
		$("#new_password").formValidator({empty:true,onempty:"{:lan('INPUT_NEW_PASSWORD', 'Admin')}",onshow:"{:lan('DONOT_CHANGEPWD', 'Admin')}",onfocus:"{:lan('PWD_ISSIX_TO_TWENTY', 'Admin')}",oncorrect:"{:lan('INPUT_SUCCESS', 'Admin')}"}).inputValidator({min:6,max:20,onerror:"{:lan('PWD_ISSIX_TO_TWENTY', 'Admin')}"});
		$("#new_pwdconfirm").formValidator({empty:true,onempty:"{:lan('INPUT_CONFIRM_PASSWORD', 'Admin')}",onshow:"{:lan('DONOT_CHANGEPWD', 'Admin')}",onfocus:"{:lan('TWICE_PWD_NOTSAME', 'Admin')}",oncorrect:"{:lan('TWICE_PWD_ISSAME', 'Admin')}"}).compareValidator({desid:"new_password",operateor:"=",onerror:"{:lan('TWICE_PWD_NOTSAME', 'Admin')}"});
	})
</script>
<div class="pad_10">
	<div class="common-form">
		<form name="myform" action="__URL__/do_edit_pwd/" method="post" id="myform">
			<input type="hidden" name="adminid" value="{$_SESSION['adminid']}"/>
			<table width="100%" class="table_form contentWrap">
				<tr>
					<td width="80">{:lan('USERNAME', 'Admin')}</td>
					<td>{$_SESSION['adminname']}</td>
				</tr>

				<tr>
					<td>{:lan('OLD_PASSWORD_LABEL', 'Admin')}</td>
					<td><input type="password" name="old_password" id="old_password" class="input-text"/></td>
				</tr>

				<tr>
					<td>{:lan('NEW_PASSWORD_LABEL', 'Admin')}</td>
					<td><input type="password" name="new_password" id="new_password" class="input-text"/></td>
				</tr>
				<tr>
					<td>{:lan('REPEATE_NEW_PWD_LABEL', 'Admin')}</td>
					<td><input type="password" name="new_pwdconfirm" id="new_pwdconfirm" class="input-text"/></td>
				</tr>


			</table>

			<div class="bk15"></div>
			<input name="dosubmit" type="submit" value="{:lan('SUBMIT_LABEL', 'Admin')}" class="button" id="dosubmit">
		</form>
	</div>
</div>
</body>
</html>
