<extend name="base" />

<block name="menu">
<div class="nav-list clear">
	<a href="__URL__/setting">{:lan('BASE_INFO', 'Home')}<i class="iconfont">&#xe60c;</i></a>
	<a href="__URL__/smallheadpic">{:lan('EDIT_HEAD_PIC', 'Home')}<i class="iconfont">&#xe60c;</i></a>
    <a href="__URL__/bigheadpic">{:lan('EMCEE_HEADPIC', 'Home')}<i class="iconfont">&#xe60c;</i></a>
	<a href="__URL__/modifypwd" class="active">{:lan('EDIT_PASSWORD', 'Home')}<i class="iconfont">&#xe60c;</i></a>
</div>
</block>

<block name="main">
	<!-- 修改密码 -->
	<div class="right-modifypwd-main">
		<table>
			<tr>
				<td class="td1">
					{:lan('CURRENT_PASSWORD', 'Home')}：
				</td>
				<td class="td2">
					<input type="password"
						   name="oldpwd"
						   id="oldpwd"
						   maxlength="16"
						   placeholder="{:lan('INPUT_OLD_PASSWORD', 'Home')}">
				</td>
			</tr>
			<tr>
				<td class="td1">
					{:lan('NEW_PASSWORD', 'Home')}：
				</td>
				<td class="td2">
					<input type="password"
						   name="newpwd"
						   id="newpwd"
						   maxlength="16"
						   placeholder="{:lan('INPUT_NEW_PASSWORD', 'Home')}">
				</td>
			</tr>
			<tr>
				<td class="td1">
					{:lan('CONFIRM_PASSWORD', 'Home')}：
				</td>
				<td class="td2">
					<input type="password"
						   name="confirmpwd"
						   id="confirmpwd"
						   maxlength="16"
						   placeholder="{:lan('INPUT_CONFIRM_PASSWORD', 'Home')}">
				</td>
			</tr>
		</table>

		<p class="modifypwd-info"></p>

		<button class="modifypwd-sub">{:lan('SAVE', 'Home')}</button>
	</div>
</block>

