<extend name="base" />

<block name="menu">
	<div class="nav-list clear">
		<a href="__URL__/index">{:lan('BASE_INFO', 'Home')}<i class="iconfont">&#xe60c;</i></a>
		<a href="__URL__/mywealth">{:lan('MY_WEALTH', 'Home')}<i class="iconfont">&#xe60c;</i></a>
		<a href="__URL__/myprivilege" class="active">{:lan('MY_PRIVILEGE', 'Home')}<i class="iconfont">&#xe60c;</i></a>
		<a href="__URL__/mycar">{:lan('MY_CAR', 'Home')}<i class="iconfont">&#xe60c;</i></a>
		<a href="__URL__/myfamily">{:lan('MY_FAMILY', 'Home')}<i class="iconfont">&#xe60c;</i></a>
	</div>
</block>

<block name="main">
	<div class="right-myprivilege-main">
		<empty name="privileges">

			<!-- 无特权 -->
			<div class="common-no-data">
				<img src="/Public/Public/Images/newImage/common/al-cry.png">
				<h1>{:lan('NO_PRIVILEGE_INFO', 'Home')}</h1>
				<div class="buy-vip-btn">
					<a href="{:U('Mall/index')}">{:lan('NO_PRIVILEGE_TIPS', 'Home')}</a>
				</div>
			</div>
			<div class="vip-img-list clear">
				<volist name="vipDefinPprivileges" id="vo">
					<div class="list">
						<p class="icon i{$vo['sortid']}"></p>
						<p>{$vo['privilegename']}</p>
					</div>
				</volist>
			</div>
			<else/>

			<!-- 有内容 -->
			<div class="have-privileges clear">
				<div class="privilege-time clear">
                    <volist name="my_vip" id="v">
                        <div class="privilege-left">
                            <img src="{$v.pcsmallviplogo}">
                            <span>{$v.vipname}</span>
                            <span class="time">{:lan('DUE_TIME','Home')}：{$v.expiretime}</span>
                        </div>
                    </volist>
				</div>
				<volist name="privileges" id="vo">
					<div class="list">
						<div class="img">
							<p class="icon i{$vo['sortid']}"></p>
						</div>
						<div class="txt">
							<h3 class="title">{$vo['privilegename']}</h3>
							<p>{$vo['description']}</p>
						</div>
					</div>
				</volist>
			</div>
		</empty >
	</div>
</block>