<extend name="base" />

<block name="menu">
<div class="nav-list clear">
	<a href="__URL__/recivegift">{:lan('RECIVE_LIST', 'Home')}<i class="iconfont">&#xe60c;</i></a>
	<a href="__URL__/sendgift" class="active">{:lan('SEND_GIFT', 'Home')}<i class="iconfont">&#xe60c;</i></a>
	<a href="__URL__/rechargelist">{:lan('RECHARGE_RECORD', 'Home')}<i class="iconfont">&#xe60c;</i></a>
	<a href="__URL__/consumelist">{:lan('CONSUME_RECORD', 'Home')}<i class="iconfont">&#xe60c;</i></a>
	<a href="__URL__/showbeanexchange">{:lan('EXCHANGE_SHOW_BEAN_RECORD', 'Home')}<i class="iconfont">&#xe60c;</i></a>
	<a href="__URL__/showmoneyexchange">{:lan('EXCHANGE_SHOW_MONEY_RECORD', 'Home')}<i class="iconfont">&#xe60c;</i></a>
</div>
</block>

<block name="main">
	<div class="right-mybill-main">
	    <eq name="spendGifts[0]" value="">	
			<!--无送礼物-->
			<div class="common-no-data">
				<img src="/Public/Public/Images/newImage/common/al-cry.png">
				<h1>{:lan('NO_SEND_GIFT', 'Home')}</h1>
				<!--laydate的bug，需要加id，否则报错-->
				<a id="start" class="dis-none"></a>
				<a id="end" class="dis-none"></a>
			</div>
        <else />
		<!--有送礼物-->
		<form name="query" action="" method="get" id="query" class="query">
			<p class="table-title">
				{:lan('QUERY_TIME', 'Home')}：
				<input name="start" id="start" class="laydate-icon" placeholder="{$starttime}"/> {:lan('TO', 'Home')}
				<input name="end" id="end" class="laydate-icon" placeholder="{$endtime}"/>
				<button class="query-btn">{:lan('QUERY', 'Home')}</button>
				<neq name="Think.get.time" value=""><button class="btn-no">{:lan('CANCEL', 'Home')}</button></neq>
			</p>
			<table class="table-list">
				<thead>
				<tr>
					<th>{:lan('SEND_TO', 'Home')}</th>
					<th>{:lan('GIFT', 'Home')}</th>
					<th>{:lan('AMOUNT', 'Home')}</th>
					<th>{:lan('PRICE', 'Home')}</th>
					<th>{:lan('TOTAL_AMOUNT', 'Home')}</th>
					<th>{:lan('TIME', 'Home')}</th></tr>
				</thead>
				<tbody>
				<!-- 有纪录 -->
				<volist name="spendGifts" id="vo">
					<tr>
						<td>{$vo[targetname]}</td>
						<td>{$vo[giftname]}</td>
						<td>{$vo[giftcount]}</td>
						<td>{$vo[giftprice]}</td>
						<td>{$vo[spendamount]}</td>
						<td>{$vo[tradetime]}</td></tr>
				</volist>
				</tbody>
			</table>
		</form>
		{$page}
		</eq>
	</div>
	<script>
		$(function () {
			userCenter.timeChoice();
		})
	</script>
</block>
