<tagLib name="html" />
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <title></title>
    <link href="__PUBLIC__/Public/statics/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Public/statics/css/system.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Public/statics/css/table_form.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Public/statics/css/dialog.css" rel="stylesheet" type="text/css" />
    <script language="javascript" type="text/javascript" src="__PUBLIC__/Public/statics/js/dialog.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Public/statics/css/style/styles1.css" title="styles1" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="__PUBLIC__/Public/statics/css/style/styles2.css" title="styles2" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="__PUBLIC__/Public/statics/css/style/styles3.css" title="styles3" media="screen" />
    <link rel="alternate stylesheet" type="text/css" href="__PUBLIC__/Public/statics/css/style/styles4.css" title="styles4" media="screen" />
    <script language="javascript" type="text/javascript" src="__PUBLIC__/Public/statics/js/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="__PUBLIC__/Public/statics/js/admin_common.js"></script>
    <script language="javascript" type="text/javascript" src="__PUBLIC__/Public/statics/js/styleswitch.js"></script>

</head>
<body>
<style type="text/css">
    html{_overflow-y:scroll}
</style><div id="closeParentTime" style="display:none"></div>
<div class="pad-10">
    <form id="searchform" name="searchform" action="" method="get">
        <input type="hidden" name="searchform" value="1">
        <table width="100%" cellspacing="0" class="search-form">
            <tbody>
            <tr>
                <td>
                    <div class="explain-col">
                        <link rel="stylesheet" type="text/css" href="__PUBLIC__/Public/statics/js/calendar/jscal2.css"/>
                        <link rel="stylesheet" type="text/css" href="__PUBLIC__/Public/statics/js/calendar/border-radius.css"/>
                        <link rel="stylesheet" type="text/css" href="__PUBLIC__/Public/statics/js/calendar/win2k.css"/>
                        <script type="text/javascript" src="__PUBLIC__/Public/statics/js/calendar/calendar.js"></script>
                        <script type="text/javascript" src="__PUBLIC__/Public/statics/js/calendar/lang/en.js"></script>
                        {:lan('TIME', 'Operator')}：
                        <input type="text" name="settlement_month" id="settlement_month" value="{$search['settlement_month']}" size="10" class="date" readonly>
                        <script type="text/javascript">
                            Calendar.setup({
                                weekNumbers: false,
                                inputField : "settlement_month",
                                trigger    : "settlement_month",
                                dateFormat: "%Y-%m",
                                showTime: false,
                                minuteStep: 1,
                                onSelect   : function() {this.hide();}
                            });
                        </script>
                        {:lan('FAMILY_NAME', 'Operator')}：
                        <input name="familyname" type="text" class="input-text" value="{$search['familyname']}" />
                        {:lan('SETTLEMENT_STATUS', 'Operator')}：
                        <select name="settlement_status">
                            <option value="">{:lan('ALL', 'Operator')}</option>
                            <option value="0" <eq name="search.settlement_status" value="0">selected="selected"</eq>>{:lan('NOT_SETTLEMENT', 'Operator')}</option>
                            <option value="1" <eq name="search.settlement_status" value="1">selected="selected"</eq>>{:lan('HAVE_SETTLEMENT', 'Operator')}</option>
                        </select>                        
                        <input type="button" class="button" onclick="form_search();" value="{:lan('BTN_SEARCH', 'Operator')}" />
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
    <div class="table-list">
        <table width="100%">
            <thead>
            <tr>
                <th width="40">{:lan('SYS_NUMBER', 'Operator')}</th>
                <th>{:lan('TIME', 'Operator')}</th>
                <th>{:lan('FAMILY_NAME', 'Operator')}</th>
                <th>{:lan('FAMILY_EMCEE_EARN', 'Operator')}(VND)</th>
                <th>{:lan('RATIO', 'Operator')}</th>
                <th>{:lan('FAMILY_SETTLEMENT', 'Operator')}(VND)</th>
                <th>{:lan('SETTLEMENT_STATUS', 'Operator')}</th>
                <th>{:lan('OPERATION', 'Operator')}</th>
            </tr>
            </thead>
            <tbody>
            <volist name="list" id="vo" key="k">
                <tr>
                    <td align='center'>{$k}</td>
                    <td align='center'>{$vo['earntime']}</td>
                    <td align="center">{$vo['familyname']}</td>
                    <td align="center">{$vo['settlement_money']/$vo['ratio']}</td>
                    <td align='center'>{$vo['ratio']*100}%</td>
                    <td align='center'>{$vo['settlement_money']}</td>
                    <td align='center'>
                        <if condition="$vo['status']=='0'">
                            {:lan('NOT_SETTLEMENT', 'Operator')}
                            <else/>
                            {:lan('HAVE_SETTLEMENT', 'Operator')}
                        </if>
                    </td>                        
                    <td align='center'>
                        <a href="{:U('Operator/OperatorManage/family_emcee_settlement_deatil/familyid/'.$vo['familyid'])}">
                            <input type="button" style="background-color:#169BD5;" class="button" value="{:lan('EMCEE_SETTLEMENT_DETAIL', 'Operator')}">
                        </a>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
        <div id="pages">{$page}</div>
    </div>
</div>
<script type="text/javascript">
    function family_settlement(){
        if(confirm("{:lan('CONFIRM_SETTLEMENT','Operator')}")){
            $('#myform').submit();
        }
    }
    //条件搜索
    function form_search(){
        document.getElementById('searchform').action = '/Operator/OperatorManage/family_settlement/';
        $('#searchform').submit();
    }
</script>
</body>
</html>