<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="/Public/Public/Images/favicon.ico"/>
    <link href="__PUBLIC__/Home/Css/{:getLanguage()}/reset.css?time=20160509.css" rel="stylesheet" type="text/css" />
    <link  href="__PUBLIC__/Home/Css/{:getLanguage()}/common.css?time=20160509.css" rel="stylesheet" type="text/css">
    <link  href="__PUBLIC__/Home/Css/{:getLanguage()}/layout.css?time=20160509.css" rel="stylesheet" type="text/css">
    <link  href="__PUBLIC__/Home/Css/{:getLanguage()}/active.css?time=20160509.css" rel="stylesheet" type="text/css">
    <!--<link  href="__PUBLIC__/Home/Css/{:getLanguage()}/layout.less?time=20160426.less" rel="stylesheet" type="text/less">-->
    <!--<link  href="__PUBLIC__/Home/Css/{:getLanguage()}/active.less?time=20160426.less" rel="stylesheet" type="text/less">-->
    <!--<script src="__PUBLIC__/Home/Css/{:getLanguage()}/less-1.6.3.min.js"></script>-->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <title>{:lan('MAY_ACTIVE_2016', 'Home')}</title>

</head>
<body class="mayActive-body">
<!--公用头部-->
<include file="Public:header" />

<!--main-->
<div class="common-wrap">
    <div class="width">
        <div class="mayActive-main-pc">

            <!--主播榜-->
            <div class="section">
                <h2 class="title">
                    <i class="active-icon icon-em"></i>
                    <span>{:lan("MAY_EM_TOP_LIST", "Home")} </span>
                </h2>
                <div class="tab-btn clear">
                    <p class="p1 active">{:lan("MAY_COUNT_TOP_LIST", "Home")}</p>
                    <p class="p2">{:lan("MAY_IN_WA_TOP_LIST", "Home")}</p>
                    <p class="p3">{:lan("MAY_SHARE_TOP_LIST", "Home")}</p>
                    <p class="p4">{:lan("MAY_GIFT_TOP_LIST", "Home")}</p>
                </div>

                <!--总分数榜-->
                <div class="active-em-wrap">
                    <div class="em-active-list">
                        <table class="list-title">
                            <tr>
                                <th class="td1">{:lan("MAY_TOP_LIST", "Home")}</th>
                                <th class="td2">{:lan("MAY_NICKNAME", "Home")}</th>
                                <th class="td3">{:lan("MAY_POINTS", "Home")}</th>
                            </tr>
                        </table>
                        <div class="list-main">
                            <table>
                                <volist name="topEmcTotal" id="vo" key="k">
                                <tr>
                                    <td class="td1 <eq name="k" value="1">top1</eq>">
                                        <span <in name="k" value="1,2,3">class="top-color"</in>>{$k}</span>
                                    </td>
                                    <td class="td2">
                                        <a href="{:U('/Home/'.$vo['showroomno'])}">
                                            <img src="{$vo.smallheadpic}">
                                            <span class="common-em em{$vo.emceelevel}"></span>
                                            <span class="">{$vo.nickname}</span>
                                        </a>
                                    </td>
                                    <td class="td3">
                                        <span>{$vo.total}</span>
                                    </td>
                                </tr>
                                </volist>
                            </table>
                        </div>
                    </div>
                    <div class="click-load-more">
                        <i class="active-icon icon-click"></i>
                        <span>{:lan("MAY_LOOK_MORE", "Home")}</span>
                    </div>
                </div>


                <!--收入哇币数-->
                <div class="active-em-wrap dis-none">
                    <div class="em-active-list">
                        <table class="list-title">
                            <tr>
                                <th class="td1">{:lan("MAY_TOP_LIST", "Home")}</th>
                                <th class="td2">{:lan("MAY_NICKNAME", "Home")}</th>
                                <th class="td3">{:lan("MAY_RECEIVE_MONEY", "Home")}</th>
                            </tr>
                        </table>
                        <div class="list-main">
                            <table>

                            </table>
                        </div>

                    </div>
                    <div class="click-load-more" id="emcearn_more">
                        <i class="active-icon icon-click"></i>
                        <span>{:lan("MAY_LOOK_MORE", "Home")}</span>
                    </div>
                </div>
                <!--分享次数-->
                <div class="active-em-wrap dis-none">
                    <div class="em-active-list">
                        <table class="list-title">
                            <tr>
                                <th class="td1">{:lan("MAY_TOP_LIST", "Home")}</th>
                                <th class="td2">{:lan("MAY_NICKNAME", "Home")}</th>
                                <th class="td3">{:lan("MAY_SHARE_NUM", "Home")}</th>
                            </tr>
                        </table>
                        <div class="list-main">
                            <table>
                            </table>
                        </div>
                    </div>
                    <div class="click-load-more">
                        <i class="active-icon icon-click"></i>
                        <span>{:lan("MAY_LOOK_MORE", "Home")}</span>
                    </div>
                </div>

                <!--劳动最光荣礼物数-->
                <div class="active-em-wrap dis-none">
                    <div class="em-active-list">
                        <table class="list-title">
                            <tr>
                                <th class="td1">{:lan("MAY_TOP_LIST", "Home")}</th>
                                <th class="td2">{:lan("MAY_NICKNAME", "Home")}</th>
                                <th class="td3">{:lan("MAY_RECEIVE_GIFT_NUM", "Home")}</th>
                            </tr>
                        </table>
                        <div class="list-main">
                            <table>

                            </table>
                        </div>

                    </div>
                    <div class="click-load-more">
                        <i class="active-icon icon-click"></i>
                        <span>{:lan("MAY_LOOK_MORE", "Home")}</span>
                    </div>
                </div>
            </div>

            <!--用户榜-->
            <div class="section">
                <h2 class="title">
                    <i class="active-icon icon-us"></i>
                    <span>{:lan("MAY_US_TOP_LIST", "Home")}</span>
                </h2>
                <div class="active-us-wrap">
                    <table class="list-title">
                        <tr>
                            <th class="td1">{:lan("MAY_TOP_LIST", "Home")}</th>
                            <th class="td2">{:lan("MAY_NICKNAME", "Home")}</th>
                            <th class="td3">{:lan("MAY_SENT_GIFT_NUM", "Home")}</th>
                        </tr>
                    </table>
                    <div class="list-main">
                        <table>
                            <volist name="topUserSentGift" id="vo" key="k">
                            <tr>
                                <td class="td1 <eq name="k" value="1">top1</eq>">
                                    <span <in name="k" value="1,2,3">class="top-color"</in>>{$k}</span>
                                </td>
                                <td class="td2">
                                    <a href="{:U('/Userhomepage/index/userid/'.$vo['userid'])}">
                                        <img src="{$vo.smallheadpic}">
                                        <span class="common-us us{$vo.userlevel}"></span>
                                        <span>{$vo.nickname}</span>
                                    </a>
                                </td>
                                <td class="td3">
                                    <span>{$vo.giftcount}</span>
                                </td>
                            </tr>
                            </volist>
                        </table>
                    </div>
                </div>
                <div class="click-load-more">
                    <i class="active-icon icon-click"></i>
                    <span>{:lan("MAY_LOOK_MORE", "Home")}</span>
                </div>
            </div>
        </div>
    </div>
</div>








<!--共用底部-->
<include file="Public:bottom" />

<!-- 共用登录-->
<include file="Public:login" />

<!--共用弹框-->
<include file="Public:alert" />

<!--共用js-->
<include file="Public:javascript" />

<script type="text/javascript">
    $(function () {


        var url = [
            "{:U('Home/Activity/getTopEmcTotalList')}",//主播总榜
            "{:U('Home/Activity/LoadTopEmcEarnList')}",//主播收入哇秀榜
            "{:U('Home/Activity/LoadTopEmcShareList')}",//主播分享次数榜
            "{:U('Home/Activity/LoadTopActivityGiftList')}"//主播劳动礼物榜
        ];

        var type = [
                "total",
                "earnamount",
                "sharecount",
                "giftcount"
        ];
        var data ={};



        $(".tab-btn").on("click","p", function () {
            $(this).addClass("active").siblings("p").removeClass("active");
            var n = $(this).index();
            $(".click-load-more").eq(n).removeClass("dis-none");
            $(".active-em-wrap").eq(n).removeClass("dis-none").siblings(".active-em-wrap").addClass("dis-none");
            loadTopHtml(n);
        });

        $(".click-load-more").each(function(index){
            console.log($(".em-active-list").eq(index).find("tr").length);
            if($(".list-main").eq(index).find("tr").length<10){
                $(".click-load-more").eq(index).addClass("dis-none");
            }
            $(".click-load-more").eq(index).on("click",function () {
                $(this).addClass("dis-none");
                if(index<4){
                    loadEmMoreHtml(index);
                }else{
                    loadUsMoreHtml()
                }
            })
        });

        //加载总榜前十列表
        function loadTopHtml(n){
            data ={
                'limit_start' : 0,
                'limit' : 10
            };
            $(".list-main").eq(n).find("table").html("<img src=\"/Public/Public/Images/Face/Joway/running.gif\" class='loading'>");

            $.ajax({
                url: url[n],
                data: data,
                dataType: 'json',
                type: "post",
                async:true,
                success: function(res) {
                    $(".list-main").eq(n).find("table").html(buildEmTopList(res,n));
                    if(res.length<10){
                        $(".click-load-more").eq(n).addClass("dis-none")
                    }
                },
                error: function(res) {
                    console.log(res);
                }
            });
        }
        function buildEmTopList (data,n){

            var html = "",topClass,topColor,dataType;

            for(var i = 0; i < data.length ; i++) {
                if (i == 0) {
                    topClass = "td1 top1"
                } else {
                    topClass = "td1"
                }
                if (i < 3) {
                    topColor = "top-color"
                } else {
                    topColor = ""
                }
                html +=
                        "<tr>" +
                        "<td class=\"" + topClass + "\">" +
                        "<span class=\"" + topColor + "\">"+(i+1)+"</span>" +
                        "</td>" +
                        "<td class=\"td2\">" +
                        "<a href=\"{:U('Home/"+data[i].showroomno+"/')}\">" +
                        "<img src=\"" + data[i].smallheadpic + "\">" +
                        "<span class=\"common-em em" + data[i].emceelevel + "\"></span>" +
                        "<span>" + data[i].nickname + "</span>" +
                        "</a>" +
                        "</td>" +
                        "<td class=\"td3\">" +
                        "<span>" + data[i][type[n]] + "</span>" +
                        "</td>" +
                        "</tr>"
            }

            return html;
        }

        //加载前三十列表
        function loadEmMoreHtml(n){
            data ={
                'limit_start' : 10,
                'limit' : 20
            };
            $.ajax({
                url: url[n],
                data: data,
                dataType: 'json',
                type: "post",
                async:true,
                success: function(res) {
                    $(".list-main").eq(n).find("table").append(buildEmMoreList(res,n));
                },
                error: function(res) {
                    console.log(res);
                }
            });
        }
        function buildEmMoreList (data,n){
            var html = "";
            for(var i = 0; i < data.length ; i++) {
                html +=
                        "<tr>" +
                        "<td class=\"td1\">" +
                        "<span>"+(i+11)+"</span>" +
                        "</td>" +
                        "<td class=\"td2\">" +
                        "<a href=\"{:U('Home/"+data[i].showroomno+"/')}\">" +
                        "<img src=\"" + data[i].smallheadpic + "\">" +
                        "<span class=\"common-em em" + data[i].emceelevel + "\"></span>" +
                        "<span>" + data[i].nickname + "</span>" +
                        "</a>" +
                        "</td>" +
                        "<td class=\"td3\">" +
                        "<span>" + data[i][type[n]] + "</span>" +
                        "</td>" +
                        "</tr>"
            }
            return html;
        }
        //加载用户前三十列表
        function loadUsMoreHtml(){
            data ={
                'limit_start' : 10,
                'limit' : 20
            };
            $.ajax({
                url: "{:U('Home/Activity/getTopUserSentGiftList')}",
                data: data,
                dataType: 'json',
                type: "post",
                async:true,
                success: function(res) {
                    $(".list-main").eq(4).find("table").append(buildUsMoreList(res));
                },
                error: function(res) {
                    console.log(res);
                }
            });
        }
        function buildUsMoreList (data,n){
            var html = "";
            for(var i = 0; i < data.length ; i++) {
                html +=
                        "<tr>" +
                        "<td class=\"td1\">" +
                        "<span>"+(i+11)+"</span>" +
                        "</td>" +
                        "<td class=\"td2\">" +
                        "<a href=\"{:U('Userhomepage/index/userid/"+data[i].userid+"/')}\">"+
                        "<img src=\"" + data[i].smallheadpic + "\">" +
                        "<span class=\"common-us us" + data[i].userlevel + "\"></span>" +
                        "<span>" + data[i].nickname + "</span>" +
                        "</a>" +
                        "</td>" +
                        "<td class=\"td3\">" +
                        "<span>" + data[i].giftcount + "</span>" +
                        "</td>" +
                        "</tr>"
            }
            return html;
        }
    });
</script>

</body>
</html>